/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*---start-wrap----*/
body{
	background: url(../images/body-bg-new.png) repeat-x, #15816e;
}
#permission-denied-container{
	background: #FFF !important;
	width: 100% !important;
	height: 657px !important;
}
#permission-denied-inner{
	width: 550px;
	margin: auto;
	padding-top: 10%;
}
#permission-denied-inner *{
	display: block;
	float: left;
}
#permission-denied-inner h1, #permission-denied-inner p{
	font-family: 'Quicksand', sans-serif;
	padding: 10px 20px;
}
#permission-denied-inner h1{
	font-size: 24px;
}
#permission-denied-inner img{
	width: 150px;
	height: 150px;
}
.wrap{
	width:100% !important;
	margin:0 auto;
}
.loginform{
	margin: 0 auto; 
	width:250px;
}
.top-header-left{
	float:left;
	margin: 15px;
}
.top-header-left ul li{
	display:inline-block;
}
.top-header-right{
	float:right;
	margin: 15px;
}
#logged-info{
	position: absolute;
	margin-top: -10px;
	padding-bottom: 0 !imoortant;
}

.top-header-right input[type="text"]{
	border: 3px solid #ffffff;
	border-radius: 20px 0 0 20px;
	float:left;
	width: 400px;
	padding:7px;
}
.top-header-right input[type="text"]:focus{
	outline: none;
	border: 3px solid #8EF2D9;
}
.top-header-right button[type="submit"]{
	border: none !important;
	background: #ffffff !important;
	border: 3px solid #ffffff;
	border-radius: 0 20px 20px 0;
	width: 32px;
	padding: 0 !important;
}
.top-header-right button[type="submit"]:focus{
	outline:none;
}
.top-header-right button[type="submit"] img{
	padding: 4px 4px 4px 0;
}
.top-header-right ul li{
	display:inline-block;
	padding: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size:0.75em;
	color:#FFF;
	text-transform: uppercase;
}
.top-header-left ul li a,.top-header-right ul li a{
	color:#FFF;
	font-size: 12px;
}
.top-header-right #header-auth-info{
	color: #8EF2D9;
}
.top-header-right #header-auth-info:hover{
	color: #b8ffed;
	text-shadow: 0 0 5px #b8ffed;
}
.top-header-left ul li a{
	padding: 8px 12px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.top-header-left ul li.active> a, .top-header-left ul li> a:hover {
	background:url(../images/active.gif);
}
/*----sub-header-----*/
.sub-header {
	margin: 40px 0 50px 0;
}
.logo{
	float:left;
}
.sub-header-center{
	float: center;
	width: 56%;
	text-align: center;
	margin: auto !important;
	margin-top: 1.5em;
	
}
.sub-header-center input[type="text"]{
	width: 50%;
	padding: 10px;
}
.sub-header-center input[type="submit"]{
	background: url(../images/top-nav.png) repeat-x;
	color: #FFF;
	padding: 8px;
	padding-bottom: 9px !important;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	cursor:pointer;
	outline: none;
}
.sub-header-center input[type="submit"]:hover{
	color:#FC3019;
}
.sub-header-right{
	float:right;
	text-align: right;
	margin-top: 2em;
}
.sub-header-right ul{
	margin-bottom:10px;
}
.sub-header-right ul li a img{
	vertical-align:middle;
	margin-left: 3px;
}
.sub-header-right ul li{
	display:inline-block;
}
.sub-header-right ul li a{
	font-family: 'Quicksand', sans-serif;
	font-size:0.75em;
	color:#FFF;
	text-transform: uppercase;
	padding:0px 10px;
}
.sub-header-right ul li a:hover{
	color:#FC3019;
}
.sub-header-right form{
	margin-top:1em;
}
.top-header-right select{
	border:0;
	cursor:pointer;
	outline:none;
	padding:5px;
	font-family: 'Quicksand', sans-serif;
	background:#292828;
	color:#FFF;
}
.sub-header-right input[type="text"]{
	width: 417px;
	margin: 0;
	padding: 10px;
	height: 12px;
	float: left;
	background: url(../images/search.png) left top no-repeat;
	border: none;
	outline: none;
}
.sub-header-right input[type="submit"]{
	height: 31px;
	padding: 0px 14px 0 13px;
	display: block;
	float: left;
	background: url(../images/button.gif) left top repeat-x;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	font: bold 12px/30px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	border: none;
	cursor:pointer;
}
.sub-header-right input[type="submit"]:hover{
	background-position: left bottom;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
/*----top-nav----*/
.top-nav ul li{
	width: 20% !important;
	display:inline-block;
	float:left;
}
.top-nav{
	background: url(../images/top-nav-new.png) repeat-x;
}
.top-nav ul li a{
	display: block;
	padding: 22.6px;
	background: url(../images/top-nav-new.png) repeat-x;
	font: bold 14px/16px 'Quicksand';
	text-align: center;
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.top-nav li:last-child{
	width: 20% !important;
	border-right: 0 !important;
}
.top-nav li.active1> a, .top-nav li> a:hover {
	background:#48C9A9;
	color: #070d0a;
	font-weight: bold;
	font-size: 18px;
	-moz-transition: background 0.2s ease, font-size 0.2s ease;
	-o-transition: background 0.2s ease, font-size 0.2s ease;
	-webkit-transition: background 0.2s ease, font-size 0.2s ease;
}
/*-----.image-slider----*/
.image-slider {

}
.button1{
	float:right;
	padding: 10px 60px;
	display: block;
	background: transparent;
	border: 2px solid #070d0a;
	font: normal 18px 'Quicksand'!important;
	color: #070d0a;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease, border 0.2s ease, font 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease, font 0.2s ease;
	-webkit-transition: background 0.2s ease, border 0.2s ease, font 0.2s ease;
	margin-bottom:1em;
	margin-right:3px;
}
.button1:hover{
	background: #b8ffed;
	border: 2px solid #b8ffed;
	font: bold 18px 'Quicksand'!important;
	-moz-transition: background 0.2s ease, border 0.2s ease, font 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease, font 0.2s ease;
	-webkit-transition: background 0.2s ease, border 0.2s ease, font 0.2s ease;
}
/*---products----*/
.products-box {
	padding: 0 !important;
}
.products{
	margin-top: 50px;
}
.products .section{
	
	width: 100%;
	margin: auto;
}
.products .displayed-item{
}
.displayed-item h4{
	color: #F7792F !important;
}
.displayed-item h3{
	height: 55px !important;
	border: 0 !important;
	font-size: 16px !important;
	color:#8EF2D9 !important; 
}
.displayed-item p{
	height: 140px !important;
	overflow: hidden !important;
}
.products h5{
	display: block;
	padding-top: 60px;
	padding-bottom: 20px;
	font: 40px/30px 'Quicksand';
	color: #070d0a;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
.content{
	margin-top: 50px !important;
	margin-bottom: 50px !important;

}
.products h5 span{
	color:#070d0a;
}
.products-secondbox h4 span{
	color:#AA4B12;
	text-decoration:line-through;
	padding-right:5px;
}
.viewall-button-container{
	position: relative !important;
	display: block !important;
	width: 100% !important;
	height: 50px !important;
	text-align: center;
	margin-top: 20px;
}
.viewall-button-container ul{
	width: fit-content !important;
	height: 100% !important;
	margin: auto !important;
}
.viewall-button-container a{
	margin: 0 !important;
	margin-top: 7.5px !important;
}

/*  GRID OF Five   ============================================================================= */
.section {
	background: #2b5849; 
	clear: both;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_5{
	display: block;
	float:left;
}
.images_1_of_5:first-child{
	width: calc(20% - 15px) !important;
	margin-left: 10px !important;
}
.images_1_of_5:last-child{
	width: calc(20% - 15px) !important;
	margin-right: 10px !important;
}
.images_1_of_5 {
	width: calc(20% - 10px) !important;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 5px !important;
	margin-right: 5px !important;
	background: #070d0a;
	text-align: center;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.images_1_of_5 label{
	color:#FC3019;
	text-decoration:line-through;
}
.images_1_of_5  img{
	max-width:100%;
	display:block;
	margin: 0 auto;
}
.images_1_of_5  h3{
	margin-top: 10px;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size:0.875em;
	color: #FFF;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
}
.images_1_of_5  p {
	font-size:0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif; 	
}
.images_1_of_5 h4{
	font-size: 16px;
	color: #555;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
	padding: 7px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.images_1_of_5:hover{
	background: #2b5849;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.images_1_of_5 .button{
	margin-top:.3em;
	line-height:1.9em;
}
.images_1_of_5 .button a{
		padding: 8px 10px;
		margin: 5px;
		display: block;
		background: transparent;
		border: 2px solid #070d0a;
		font: bold 16px 'Quicksand'!important;
		color: #070d0a;
		text-align: center;
		cursor: pointer;
		-moz-transition: background 0.2s ease, border 0.2s ease;
		-o-transition: background 0.2s ease, border 0.2s ease;
		-webkit-transition: background 0.2s ease, border 0.2s ease;
}
.images_1_of_5 .button a:hover{
	background: #b8ffed;
	border: 2px solid #b8ffed;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	-webkit-transition: background 0.2s ease, border 0.2s ease;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:90%;
	}	
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px){
	
	.wrap{
		width:95%;
	}
	.grid_1_of_5{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_5 {
		width:94%;
		padding:3%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_5{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_5 {
		width:92%;
		padding:4%;
	}
}
/*---footer----*/
.footer {
	margin-top: 50px;
}
.footer-lastgrid ul li{
	display:inline-block;
}
.footer-lastgrid ul{
	padding-top:5px;
}
.footer-lastgrid ul li a{
	padding:0 5px;
}
.span_1_of_4 ul li a{
	color: #8EF2D9;
	text-shadow: 0 0 0 0;
	font: 12px/27px 'Quicksand', Helvetica, sans-serif;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.span_1_of_4 ul li a:hover{
	color:#b8ffed;
	text-shadow: 0 0 5px #b8ffed;
}
/*  GRID OF FOUR   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	width: calc(50% - 50px) !important;
	height: 200px !important;
	display: block;
	float:left;
	margin: 0;
}
.span_1_of_4 {
	width: calc(25% - 100px) !important;
	padding: 20px 50px;
}
.span_1_of_4  h3{
	display: block;
	padding:10px 0px 12px 0px;
	font: bold 24px/16px 'Quicksand';
	color: #070d0a;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.span_1_of_4  p {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
	font-family: 'Quicksand', sans-serif; 	 
}

.footer-divider{
	display:block;
	height: 270px !important;
	width: 1px;
	float: left;
	background: #000000;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
/*----copy-right-----*/
.footer-lastgrid ul{
	padding: 0 !important;
}
.footer-lastgrid p{
	color: #63615f;
	font-family: 'Quicksand', sans-serif;
	font-size:0.75em;
	padding-top: 25px;
}
.footer-lastgrid p a{
	font-family: 'Quicksand', sans-serif;
	padding-left:3px;
	color:#FC3019;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.footer-lastgrid p a:hover{
	color:#000;
}
.footer-lastgrid li a img{
	border-radius: 100%;
	background:#070d0a;
	padding:10px;
	-moz-transition: background 0.2s ease, padding 0.2s ease;
	-o-transition: background 0.2s ease, padding 0.2s ease;
	-webkit-transition: background 0.2s ease, padding 0.2s ease;
}
.footer-lastgrid li a img:hover{
	border-radius: 100%;
	background:#162b22;
	padding:12px;
	-moz-transition: background 0.2s ease, padding 0.2s ease;
	-o-transition: background 0.2s ease, padding 0.2s ease;
	-webkit-transition: background 0.2s ease, padding 0.2s ease;
}
#methods-payment-img{
	width: 150px !important;
}
/*----Cartires----*/
.car-tires-top-pagnation{
	background:#F8F8F8;
	padding: 5px 12px;
	margin-bottom:15px;
}
.car-tires-top-pagnation ul li{
	display:inline-block;
}
.car-tires-top-pagnation ul li a,.car-tires-top-pagnation ul li span{
	display: block;
	padding: 3px 0px;
	font: bold 12px/0px Quicksand, Helvetica, sans-serif;
	color: #000;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
	font-weight: bold;
}
.car-tires-top-pagnation ul li span{
	color:#ddd;
	font-weight:normal;
}
.cartire-grid {
	background: #070d0a;
	padding: 15px;
	box-shadow: 0px 0px 0px rgba(238, 238, 238, 0.08);
	margin-top: 21px;
}
.cartire-grid h4{
	font-family: 'Quicksand', sans-serif;
	padding: 25px;
	text-align: center;
}
#no-fav-message{
	color: #b8ffed;
}
.Cartires{
}
.Cartires h5{
	display: block;
	padding: 23px;
	font: bold 40px/30px 'Quicksand';
	color: #070d0a;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}
.Cartires h5 span{
	color: #070d0a;
}
.cartires-grids{
	background: #2b5849;
	padding-top: 5px;
	padding-bottom: 5px;
}
.cartire-grid-img{
	float:left;
	width: calc(20% - 20px);
	padding-right: 20px;
}

.cartire-grid-info{
	float:left;
	width:59%;
}
.cartire-grid-info ul li,.cartire-grid-info h3{
	display: block;
	padding: 3px 0px;
	font: bold 12px/30px 'Quicksand', Helvetica, sans-serif;
	color:#48C9A9;
	text-transform: uppercase;
	font-weight: bold;
}
.cartire-grid-info h3{
	color:#b8ffed;
}
.cartire-grid-info p{
	font-size: 0.8125em;
	color: #1EA180;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
	width: 91%;
	height: 60px;
	overflow: hidden;
}
.cartire-grid-info ul li span{
	color:#b8ffed;
	padding-right:10px;
}
.cartire-grid-info ul li a, .cartire-grid-info ul li a:visited{
	color:#48C9A9;
}
.cartire-grid-info ul li a:hover{
	text-shadow: 0 0 5px #48C9A9;
}
.cartire-grid-cartinfo{
	width:18%;
	float:left;
	padding-left:2%;
}
.cartire-grid-cartinfo h4{
	display: block;
	padding: 3px 0px;
	font: bold 12px/30px 'Quicksand', Helvetica, sans-serif;
	color: #b8ffed;
	text-transform: uppercase;
	font-weight: bold;
}
.cartire-grid-cartinfo span{
	font-size: 0.8125em;
	color: #b8ffed;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
	padding: 7px 0px;
}
.cartire-grid-cartinfo  ul li{
	display:inline-block;
}
.cartire-grid-cartinfo a{
	width: 90%;
	padding: 8px 10px;
	display: inline-block;
	border: 2px solid #8EF2D9;
	background: transparent;
	font: bold 12px 'Quicksand'!important;
	color: #8EF2D9;
	text-align: center;
	cursor: pointer;
	-moz-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	-webkit-transition: background 0.2s ease, border 0.2s ease;
	margin-bottom: 10px;
}
.cartire-grid-cartinfo a:hover{
	background: #2b5849;
	border: 2px solid #2b5849;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	-webkit-transition: background 0.2s ease, border 0.2s ease;
}
.cartire-grid-cartinfo ul{
	margin:7px 0px;
}
.cartire-grid-cartinfo ul li p{
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
}
.cartire-pagination-box{
	margin-top: 25px; 
	height: 60px;
	background: red;
}
.cartire-pagination-box ul{
	background: green;
	min-width: 100px;
	width: fit-content;
	height: 100%;
	margin: auto;
}
/*----contact-----*/
.contact{
	padding:0px 20px;
}
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	display: block;
	padding: 30px 0px 12px 0px;
	font: bold 18px/16px 'Quicksand';
	color: #000;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form label{
	color: #8EF2D9;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
	font-family: 'Quicksand', sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			background:#fcfcfc;
			border: none;
			outline:none;
			color:#989898;
			font-size:0.9em;
			font-family: 'Quicksand', sans-serif;
			box-shadow: inset 0px 0px 3px #999;
			-webkit-box-shadow: inset 0px 0px 3px #999;
			-moz-box-shadow: inset 0px 0px 3px #999;
			-o-box-shadow: inset 0px 0px 3px #999;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	padding: 10px 60px;
	display: block;
	border: 2px solid #8EF2D9;
	background: transparent;
	font: bold 12px 'Quicksand'!important;
	color: #8EF2D9;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	-moz-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	-webkit-transition: background 0.2s ease, border 0.2s ease;
	margin-bottom: 1em;
	margin-right: 3px;
	cursor:pointer;
}
.contact-form input[type="submit"]:hover{
	background: #070d0a;
	border: 2px solid #070d0a;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	-webkit-transition: background 0.2s ease, border 0.2s ease;
}
.contact-form input[type="submit"]:active{
	background-position: left bottom;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size: 0.8125em;
	color: #8EF2D9;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
}
.company_address p a{
	text-decoration:underline;
	color:#b8ffed;
	cursor:pointer;
}
.company_address p a:hover{
	text-shadow: 0 0 5px #b8ffed;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*----single-page-----*/
.single-page{
	background: #2b5849;
	padding-top: 20px;
	padding-bottom: 20px;
}
.single-top-pagination{
	background: #F8F8F8;
	padding: 5px 12px;
	margin-bottom: 15px;
}
.single-top-pagination ul li{
	display:inline-block;
}
.single-top-pagination ul li a{
	display: block;
	padding: 3px 0px;
	font: bold 12px/0px Arial, Helvetica, sans-serif;
	color: #000;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
	font-weight: bold;
}
.single-top-pagination ul li span{
	display: block;
	padding: 3px 0px;
	font:12px/0px Arial, Helvetica, sans-serif;
	color: #ddd;
	font-weight: normal;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
}
.product-info{
	background: #070d0a;
}
.product-image{
	display: block;
	position:static;
	width: 300px;
	height: 300px;
	float:left;
	margin-bottom: 100px;
}
.product-image img{
	position:relative;
	width: 100%;
	float:left;
}
.album-song-card{
	padding: 10px;
	background: #162b22;
	margin-bottom: 5px;
	border-radius: 7px;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.album-song-card:hover{
	background: #2b5849;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.album-song-card li{
	display: block;
	float: left;
	padding: 0 10px;
}
.album-card{
	padding: 10px;
	height: 15px !important;
	background: #162b22;
	margin-bottom: 5px;
	border-radius: 7px;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.album-card:hover{
	background: #2b5849;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.album-card ul{
	height: auto !important;
}
.album-card li, .album-card li *{
	display: inline !important;
	float: left !important;
	margin: 0 !important;
	padding: 0 !important;
}
.album-card h3{
	padding-right: 5px !important;
}
.album-card .album-card-last{
	float: right !important;
}
/*----zoomer----*/
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
		.clearfix{display:block;zoom:1}
		
		
		ul#thumblist{display:block;}
		ul#thumblist li{float:left;margin-right:2px;list-style:none;width: 30.8%;}
		ul#thumblist li a{display:block;border:1px solid #CCC;}
		ul#thumblist li a.zoomThumbActive{
		    border:1px solid red;
		}
		
		.jqzoom{
		
			text-decoration:none;
			float:left;
		}
/*----product-catrgory-pagenation----*/
.product-catrgory-pagenation ul li{
	display:inline-block;
}
.product-catrgory-pagenation ul li h3{
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px 'Quicksand';
	color:#292828;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
}
.product-catrgory-pagenation ul li.active3> a{
	display: block;
	padding: 4px 0px;
	font: bold 12px/16px 'Quicksand';
	color: #292828;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-decoration:underline;
}
.product-catrgory-pagenation ul li a{
	display: block;
	padding: 4px 0px;
	font: bold 12px/16px 'Quicksand';
	color: #292828;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}
.product-value h4, .product-end-list h4{
	display: block;
	padding: 4px 0px;
	font: bold 18px/16px 'Quicksand';
	color: #1EA180;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}
.product-value ul li{
	display:inline-block;
}
.product-value ul li span{
	text-decoration:line-through;
}
.product-value h2,.product-value span,.product-value h5,.product-value li a,.product-value h3,.product-end-list h3,.product-end-list li a{
	display: block;
	padding: 4px 0px;
	font: bold 12px/16px 'Quicksand';
	color:#8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}
.product-value li a{
	color:#48C9A9;
}
.product-value li a:hover{
	color: #b8ffed;
	text-shadow: 0 0 5px #b8ffed;
}
.product-end-list li a:hover{
	color: #b8ffed;
	text-shadow: 0 0 5px #b8ffed;
}
.product-value {
	width: 45% !important;
	float:left;
	padding-right: 10px;
	margin-right: 10px;
}
.product-end-list{
	width: calc(55% - 20px) !important;
	float:left;
}
.product-description{
	position: absolute;
	margin-top: 325px;
	width: 300px;
	float:left;
	text-align:center;
}
.product-price-info{
	display:block;
	width: calc(100% - 350px) !important;
	padding: 25px;
	float:right;
}
.product-price-info label{
	color: #8EF2D9;
}
.product-shipping{
	width: 45%;
	padding: 10px 0px 0 0;
}
.product-shipping  span,.product-shipping p lable{
	float:left;
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px 'Quicksand';
	color:#292828;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}
.product-shipping p{
	float:right;
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
}
.product-payments{
	width: 68%;
}
.product-payments  span,.product-payments p lable{
	float:left;
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px 'Quicksand';
	color:#292828;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}
.product-payments p{
	float:right;
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
}
.product-description h3{
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px 'Quicksand';
	color:#292828;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	padding: 0px 0px 5px 0px;
}
.product-description p{
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 10px;
}
.product-description a{
	padding: 10px 60px;
	display: inline-block;
	border: 2px solid #8EF2D9;
	background: transparent;
	font: bold 14px 'Quicksand'!important;
	color: #8EF2D9;
	text-align: center;
	cursor: pointer;
	-moz-transition: background 0.2s ease, color 0.2s ease;
	-o-transition: background 0.2s ease, color 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease;
}
.product-description a:hover{
	background: #8EF2D9;
	color: #070d0a;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease, color 0.2s ease;
	-o-transition: background 0.2s ease, color 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #070d0a; 
  max-width: 400;  
  margin:0 auto 100px;
  padding: 40px;
  text-align: center;
}
.form input {
	border: 2px solid #48C9A9;
  font-family: 'Quicksand', sans-serif;
  outline: 0;
  background: #f2f2f2;
  text-align: center;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
	border: 2px solid #48C9A9;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: transparent;
  width: 100%;
  padding: 15px;
  color: #48C9A9;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #48C9A9;
  color: #070d0a;
  font-weight: bold;
}
.form .message {
  font-family: 'Quicksand', sans-serif;
  margin: 15px 0 0;
  color: #b8ffed;
  font-size: 14px;
}
.form .message a:hover{
  color: #1EA180;
  text-shadow: 0 0 5px #b8ffed;
}
.form .message a {
  font-family: 'Quicksand', sans-serif;
  color: #2b5849;
  padding-left: 5px;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/*-----single-artist-page----*/
.artist-info-container{
	position: static;
	margin: auto;
	height: 300px;
	width: 100%;
}
.artist-info-container ul{
	display:inline-block;
}
.image-container{
	position: static;
	float: left;
	width: 210px;
	height: 210px;
	margin: 25px;
}
.image-container img{
	position:relative;
	margin: auto;
}
.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 600px;
}
.info-container li{
	padding: 8px;
	display:block;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.artist-name{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size:36px;
	color: #ff1111;
}
.artist-description{
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-size: 14px;
}
.artist-link{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

/*----cart-page----*/
.cart-page-container{
	margin-top: 50px;
	position:static;
	background: #162b22 !important;
	width: 100%;
	display: block;
}
.cart-page-title-box{
	position:static;
	float:center;
	margin:auto;
	height: 100px;
	width:800px;
	text-align:center;
}
.cartpage-title{
	position:relative;
	top: 25px;
	color: #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-size: 32px;
}
.cart-page-list-box{
	position: static;
	float:center;
	margin:auto;
	width: 100%;
}
.cart-page-list-box h1{
	color: #8EF2D9 !important;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-size: 18px;
}
.single-cart-item-container{
	margin-top: 25px;
	margin-bottom: 25px;
	background: #070d0a;
	width: 100%;
}
.single-cart-item{
	position:static;
	margin: auto;
	border-radius: 10px;
	height: 200px;
	width: 800px;
	margin-bottom:15px;
	margin-top:15px;
}
.single-cart-item label{
	color: #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.cart-item-image-box{
	position: relative;
	height: 200px;
	width: 200px;
	float:left;
}
.cart-item-image-box img{
	width:100%;
}
.cart-item-description-box{
	position:relative;
	height: 150px;
	width: 275px;
	float:left;
	margin: 25px;
	margin-right:0;		
}
.cart-item-description-box-head{
	position:relative;
	height: 50px;
	width: 275px;
	float:left;		
}
.cart-item-description-box-body{
	position:relative;
	height: 100px;
	width: 275px;
	float:right;		
}
.cart-item-name{
	color: #48C9A9;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
}
.cart-item-description{
	background: none;
	resize: none;
	border: 0;
	width: 100%;
	height: 80px;
	color: #48C9A9;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
.cart-item-price-box{
	position:relative;
	height: 150px;
	width: 125px;
	float:left;
	margin: 25px;
	margin-right:0;	
}
#cart-item-price{
	display: none !important;
}
.cart-item-price-box label{
	width: 100% !important;
}
.cart-item-price-box h3{
	display: inline-block;
	color: #48C9A9;
	float: left;
	width: auto;
	font-family: 'Quicksand', sans-serif;
}
.cart-item-input-box{
	position:relative;
	height: 150px;
	width: 125px;
	float:left;
	margin: 25px;
	margin-left:10px;
	margin-right:0;	
}
.cart-item-input-box a{
	text-align:center;
	position:relative;
	float:left;
	width: 100px;
	margin-top: 20px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-remove-button{
	text-align:center;
	position:relative;
	float:left;
	border: 2px solid #8EF2D9;
	width: 130px;
	margin-top: 20px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background: transparent;
	color: #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease, color 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}
.cart-remove-button:hover{
	background: #8EF2D9;
	color: #070d0a;
	-moz-transition: background 0.2s ease, color 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}
.cart-item-input-box button:hover{
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-item-amount{
	color: #48C9A9;
	padding: 2.5px;
	padding-left: 5px;
	margin-top: 5px;
	border: 1px solid #162b22;
	border-radius: 5px;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	width: 125px;
	background: none;
}
.cart-item-amount:focus{
	outline:none;
	border: 1px solid #b8ffed;
}
.cart-page-end{
	position:static;
	text-align:center;
	float:center;
	margin:auto;
	width: 800px;
	height: 100px;
}
.cart-page-end button{
	position: relative;
	margin-top:25px;
	background: transparent;
	border: 2px solid #8EF2D9;
	padding: 12.5px 60px;
	color: #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	-moz-transition: background 0.2s ease, color 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}
.cart-page-end button:hover{
	background: #8EF2D9;
	color: #070d0a;
	-moz-transition: background 0.2s ease, color 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}

/*----account-page----*/
.your-account-container{
	position: relative;
	width: 100%;
}
.account-box{
	position:relative;
	background: #070d0a;
	min-height: 400px;
	width:90%;
	margin-top:50px !important;
	margin-bottom:50px !important;
	margin:auto;
}
.account-box ul{
	display:block;
}
.account-title-box{
	position:relative;
	text-align:center;
	height: 50px;
	width: calc(100% - 50px);
	margin: auto;
}
.account-title-box li{
	display: inline;
	float: left;
	width: 100%;
	padding-top: 10px;
	color: #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-size: 26px;
	text-align:left;
}
.account-static-info{
	position:relative;
	min-height: 140px;
	width: calc(100% - 50px);
	margin: auto;
}
.account-static-info ul{
	display: inline-block;
	float: left;
	width: 100%;
	margin: auto;
}
.account-info-profile ul{
	display: inline-block;
	float: left !important;
	width: calc(50% - 20px) !important;
	margin-left: 10px;
	margin-right: 10px;
}
.account-static-info label{
	position:relative;
	float:left;
	top: 2.5px;
	color: #48C9A9;
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.account-button-box{
	display: block;
	position:relative;
	margin-top: 10px;
	height: 40px;
	width: 100%;
	text-align: center;
}
#save-button-box{
	top: -38px;
	visibility: hidden;
}
.account-button-box-inner{
	position:relative;
	text-align:center;
	margin-left: 25px;
	margin-right: 25px;
}
.account-button-box-inner li{
	position:relative;
	display: inline-block;
	width: 100px;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.account-button-box-inner a{
	position:relative;
	color: #8EF2D9;
	width: 300px !important;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}
.account-button-box-inner li:hover{
	background: #2b5849;
	border: 2px solid #2b5849;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.account-static-info li{
	display: block;
	text-align: center;
	background: #a5a5a5;
	height: 40px;
	border: 2px solid #8EF2D9;
}
.account-static-info input{
	text-align: center;
	background: none;
	border: 0;
	color: #070d0a;
	height: 38px;
	width: 100%;
	-moz-transition: box-shadow 0.2s ease;
	-webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
	-moz-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.account-static-info input:disabled{
	color:black;
	background: light-grey;
}
.account-static-info input:focus{
	outline: none;
	background: #b8ffed !important;
	box-shadow: 0px 0px 15px #b8ffed;
	-moz-transition: box-shadow 0.2s ease;
	-webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
	-moz-transition:background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.account-static-info li:not(:last-child){
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.account-static-info li:last-child{
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
}
.account-static-info li:not(:first-child){
	margin-top:20px;
}
.address-card{
	display: block;
	height: 255px;
	background: #1EA180;
	border-radius: 7px;
	margin-bottom: 10px !important;
}
.address-card:last-child{
	margin-bottom: 0 !important;
}
.address-card ul{
	width: calc(50% - 20px);
	padding: 10px;
}
.address-card li{
	display: block;
	width: 100%;
	height: 36px;
	background: #ffffff;
	font-size: 14px !important;
	margin: 0 !important;
	margin-bottom: 5px !important;
}
.address-card li:last-child{
	margin-bottom: 0 !important;
}
.address-card li h1, .address-card li h6{
	display: inline-block;
	padding: 10px;
	float: left;
}
.address-card li h1{
	width: calc(40% - 20px);
	color: #070d0a;
	text-transform: uppercase;
	text-align:left;	
}
.address-card li h6{
	width: calc(60% - 20px);
	text-transform: initial;
	text-align:left;	
}
.address-buttons-container{
	width: calc(100% - 20px) !important;
}
.address-buttons-container li{
	display: inline-block;
	margin: auto !important;
	background: transparent;
	padding: 10px;
	height: auto !important;
	width: 100px;
	-moz-transition:all 0.2s ease;
	-webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.address-buttons-container li:hover{
	background: #162b22;
	border: 2px solid #162b22;
	-moz-transition:all 0.2s ease;
	-webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.address-buttons-container li a{
	text-transform: uppercase;
	color: #b8ffed;
	font-size: 14px;
}
.add-address-box{
	padding: 10px;
	width: calc(100% - 70px);
	margin-left: 25px;
	margin-left: 25px;
	margin-top: 10px;
}
.new-address-button{
	margin: auto;
	text-align: center;
	background: transparent;
	border: 2px solid #b8ffed;
	padding: 10px;
	height: auto !important;
	width: 150px;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.new-address-button:hover{
	background: #2b5849;
	border: 2px solid #2b5849;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.new-address-button a{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #b8ffed;
}
.no-addresses-card{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: #b8ffed;
	background: #2b5849;
	border-radius: 7px;
	padding: 10px;
	width: calc(100% - 70px);
	margin-left: 25px;
	margin-left: 25px;
}
/*----result-page----*/

.resultpage-box{
	margin-bottom:50px;
	position: static;
	background: #162b22;
	width: 100%;
	min-height:320px;
}
.resultpage-box ul{
	display: block;
}
.advanced-search-form{
	padding: 15px;
}
.resultpage-filter-box{
	position: relative;
	width: 100%;
}
.resultpage-filter-box ul{
	display: inline-block;
	position: relative;
	width: calc(33% - 10px);
	margin: 5px !important;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	background: #2b5849;
	color: #8EF2D9;
	border-radius: 30px;
}
.resultpage-filter-box ul li{
	padding: 5px;
}
.resultpage-filter-box input{
	font: bold 14px/12px 'Quicksand', sans-serif;
	color: #070d0a;
	padding: 5px;
	margin-bottom: 5px;
	border: 2px solid #ffffff;
	border-radius: 20px;
}
.resultpage-filter-box input:focus{
	outline: none;
	border: 2px solid #8EF2D9;
}
.resultpage-search-button{
	position:relative;
	margin:auto;
	text-align: center;
	margin-top: 25px;
}
.resultpage-search-button button{
	background: transparent;
	color: #8EF2D9;
	border: 2px solid #8EF2D9;
	padding: 10px 60px;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	text-align:center;
	-moz-transition: background 0.2s ease, color 0.3s ease;
	-webkit-transition: background 0.2s ease, color 0.3s ease;
    transition: background 0.2s ease, color 0.3s ease;
}
.resultpage-search-button button:hover{
	color: #070d0a;
	background: #8EF2D9;
	font-weight: bold;
	-moz-transition: background 0.2s ease, color 0.3s ease;
	-webkit-transition: background 0.2s ease, color 0.3s ease;
    transition: background 0.2s ease, color 0.3s ease;
}
.resultpage-title{
	position:relative;
	width: 100%;
	height: 50px;
	text-align:center;
	padding-top:15px;
}
.resultpage-title li{
	font-family: 'Quicksand', sans-serif;
	color: #8EF2D9;
	font-size: 40px;
}
.resultpage-divider{
	position: relative;
	background: lightgray;
	height: 1px;
	width:80%;
	margin: auto;
}
.results-artists-box, .results-songs-box, .results-albums-box{
	background: #070d0a;
	position:static;
	padding: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.single-artist-result, .single-song-result, .single-album-result{
	background: #2b5849;
	display: inline-block;
	position:relative;
	margin: 5px;
	margin-bottom: 10px;
	padding: 25px;
	height: 280px;
	width: calc(20% - 64px);
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-album-result{
	height: 330px;
}
.single-artist-result:hover, .single-song-result:hover, .single-album-result:hover{
	background: #15816e;
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-artist-result-image, .single-song-result-image, .single-album-result-image{
	position:relative;
	width: 150px;
	height: 150px;
	margin:auto;
}
.single-artist-result-info, .single-song-result-info, .single-album-result-info{
	text-align: center;
	position:relative;
	float:left;
	width: 100%;
	height: calc(100% - 125px) !important;
	margin:auto;
}
.single-artist-result-info li, .single-song-result-info li, .single-album-result-info li{
	position:relative;
	padding: 12px;
}
.artist-name-result, .song-name-result{
	font-family: 'Quicksand', sans-serif;
	color: #8EF2D9;
	font-size: 18px;
	height: 86px;
}
.result-artist-detail-button, .result-song-detail-button, .result-album-detail-button, .result-album-addcart-button{
	position:absolute;
	width: calc(100% + 50px);
	float: center;
	margin-left: calc(-50% - 25px);
}
.result-album-addcart-button{
	margin-top: 44px;
}
.result-artist-detail-button li, .result-song-detail-button li, .result-album-detail-button li, .result-album-addcart-button li{
	color: #8EF2D9;
	background: transparent;
	border: 2px solid #8EF2D9;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-weight: normal;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
}
.result-artist-detail-button li:hover, .result-song-detail-button li:hover, .result-album-detail-button li:hover, .result-album-addcart-button li:hover{
	color: #070d0a;
	font-weight: bold;
	background: #8EF2D9;
	-moz-transition: background 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
	-webkit-transition: background 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
}

.album-name-result{
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	height: 50px;
	color: #8EF2D9;
}
.album-price-result{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: #8EF2D9;
}

.resultpage-endpage{
	position:relative;
	height: 100px;
	margin: 25px;
}
.result-endpage-box{
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	position:relative;
	height: 100%;
	width: 1000px;
	margin:auto;
	text-align:center;
}
.result-endpage-box li{
	display: inline;
	position:relative;
	top: 25px;
	min-width: 10px;
}
.result-endpage-box li:last-child{
	display:none;
}
.result-endpage-separator{
	color: #162b22;
}
.result-endpage-link{
	color: #8EF2D9;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.result-endpage-link:hover{
	color: #b8ffed;
	text-shadow: #b8ffed 0 0 10px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
/*----responsive design----*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	
}
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.product-price-info {
		float: right;
		width: 71.5%;
	}
	.product-shipping {
		width: 49%;
	}
	.product-payments {
		width: 74%;
	}
}
@media only screen and (max-width: 1280px){
	.wrap{
		width:90%;
	}
	.product-price-info {
		width: 71%;
	}
}
@media(max-width:1080px){
	
}
@media(max-width:1050px){
	.sub-header-center input[type="text"] {
		width: 40%;
	}
	.sub-header-center {
		    width: 35%;
	}
}
@media only screen and (max-width: 1024px){
	.wrap{
		width:90%;
	}
	.product-price-info {
		width:70%;
	}
	.product-shipping {
		width: 67%;
	}
	ul#thumblist li {
		width: 32.47%;
	}
	.top-nav ul li a {
		padding: 22.6px 25.2px;
	}
}
@media(max-width:991px){
	.artist-info-container{
	position: relative;
	margin: auto;
	height: 340px;
	width: 100%;
	}
	.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 500px;
	}
	.image-container{
	width: 210px;
	height: 210px;
	position: relative;
	}
}
@media(max-width:900px){
	.sub-header-center {
		width: 30%;
	}
	.images_1_of_5 {
		width: 22.5%;
	}
}
@media(max-width:880px){
	.artist-info-container{
	position: relative;
	margin: auto;
	height: 380px;
	width: 100%;
}
	.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 400px;
	}
}
}
@media(max-width:800px){
	.sub-header-center {
		width: 60%;
	}
	.images_1_of_5 {
		width: 47.5%;
		margin: 0 0 14px 0;
		padding: 0;
	}
	.images_1_of_5 {
		width: 49.5%;
		/* margin: 0 0 14px 0; */
		padding: 0;
	}
	.cartire-grid-img{
		margin-right: 2%;
	}
	.top-nav ul li a{
		font: bold 12px/16px 'Quicksand';
	}
	.cartire-grid-info{
		width: 56%;
	}
}
@media only screen and (max-width: 768px){
	.wrap{
		width:90%;
	}
	.sub-header-right input[type="text"] {
		width: 204px;
	}
	.top-nav ul li a {
		padding: 22.6px 13.17px;
		font-size:12px;
	}
	.product-price-info {
		width: 70%;
	}
	.product-shipping {
		width: 73%;
	}
	.top-nav ul li a {
		padding: 22.6px 20.60px;
		font-size: 12px;
	}
		.artist-info-container{
	position: relative;
	margin: auto;
	height: 470px;
	width: 100%;
}
	.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 300px;
	}
}
	
}
@media(max-width:736px){
	.span_1_of_4 {
		width: 43%;
	}
	.sub-header-center {
		width: 54%;
	}
	.top-nav ul li a {
		padding: 22.6px 15.33px;
	}
}
@media(max-width:600px){
	.logo {
		float: left;
		margin-top: 18px;
		width: 100%;
		text-align: center;
	}
	.sub-header-center {
		width: 100%;
	}
	.top-nav ul li a {
		padding: 22.6px 10.33px;
	}
}
@media(max-width:568px){
	.top-nav ul li a {
		padding: 22.6px 7.93px;
	}
	.cartire-grid-img {
		width: 100%;
	}
	.cartire-grid-info {
		width: 106%;
	}
	.cartire-grid-cartinfo {
		width: 100%;
	}
}
@media(max-width:480px){
	.top-header-left ul li a {
		padding: 8px 7px;
	}
	.top-nav ul li a {
		padding: 22.6px 23.93px;
	}
	.images_1_of_5 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}	
	.top-header-left ul li a, .top-header-right ul li a{
		font-size: 0.65em;	
	}
	.wrap {
		width: 85%;
	}
	
}		
@media( max-width:414px){
	.top-nav ul li a {
		padding: 22.6px 18.93px;
	}
	.top-header-left ul li a, .top-header-right ul li a{
		font-size: 0.55em;	
	}
	.top-header-left ul li a, .top-header-right ul li a {
		font-size: 0.85em;
	}
	.top-header-right {
		float: left;
		margin-top: 25px;
	}
	.top-nav ul li a {
		padding: 22.6px 10.93px;
	}
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	.top-nav ul li a {
		padding: 22.6px 5.55px;
	}	
	.sub-header-right {
		float: left;
	}
	.sub-header-right ul li a {
		padding: 0px 4px;
	}
	.top-header-left ul li a, .top-header-right ul li a {
		font-size: 0.70em;
	}
}



		