/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*---start-wrap----*/
body{
	background: url(../images/body-bg.png) repeat-x, url(../images/bg.png) #F8F8F8;
}
.wrap{
	width:80%;
	margin:0 auto;
}
.loginform{
	margin: 0 auto; 
	width:250px;
}
.top-header-left{
	float:left;
	margin-top: 15px;
}
.top-header-left ul li{
	display:inline-block;
}
.top-header-right{
	float:right;
	margin-top: 5px;
}
.top-header-right ul li{
	display:inline-block;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:0.75em;
	color:#fff;
	text-transform: uppercase;
}
.top-header-left ul li a,.top-header-right ul li a{
	color:#fff;
}
.top-header-right #header-auth-info{
	color: #000000;
}
.top-header-left ul li a{
	padding: 8px 12px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.top-header-left ul li.active> a, .top-header-left ul li> a:hover {
	background:url(../images/active.gif);
}
/*----sub-header-----*/
.sub-header {
	margin: 40px 0 25px 0;
}
.logo{
	float:left;
	margin-top: 18px;
}
.sub-header-center{
	float: left;
	width: 56%;
	text-align: center;
	margin-top: 1.5em;
}
.sub-header-center input[type="text"]{
	border-left: 1px solid red;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	border-right: 0 !important;
	width: 50%;
	padding: 10px;
}
.sub-header-center input[type="submit"]{
	background: url(../images/top-nav.png) repeat-x;
	border-right: 1px solid red;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	border-left: 0 !important;
	color: #fff;
	padding: 8px;
	padding-bottom: 9px !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	cursor:pointer;
	outline: none;
}
.sub-header-center input[type="submit"]:hover{
	color:#FC3019;
}
.sub-header-right{
	float:right;
	text-align: right;
	margin-top: 2em;
}
.sub-header-right ul{
	margin-bottom:10px;
}
.sub-header-right ul li a img{
	vertical-align:middle;
	margin-left: 3px;
}
.sub-header-right ul li{
	display:inline-block;
}
.sub-header-right ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size:0.75em;
	color:#fff;
	text-transform: uppercase;
	padding:0px 10px;
}
.sub-header-right ul li a:hover{
	color:#FC3019;
}
.sub-header-right form{
	margin-top:1em;
}
.top-header-right select{
	border:0;
	cursor:pointer;
	outline:none;
	padding:5px;
	font-family: 'Open Sans', sans-serif;
	background:#292828;
	color:#FFF;
}
.sub-header-right input[type="text"]{
	width: 417px;
	margin: 0;
	padding: 10px;
	height: 12px;
	float: left;
	background: url(../images/search.png) left top no-repeat;
	border: none;
	outline: none;
}
.sub-header-right input[type="submit"]{
	height: 31px;
	padding: 0px 14px 0 13px;
	display: block;
	float: left;
	background: url(../images/button.gif) left top repeat-x;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font: bold 12px/30px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	border: none;
	cursor:pointer;
}
.sub-header-right input[type="submit"]:hover{
	background-position: left bottom;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
/*----top-nav----*/
.top-nav ul li{
	width: calc(20% - 1px) !important;
	display:inline-block;
	float:left;
	border-right: 1px solid rgba(9, 8, 8, 1);
}
.top-nav{
	background: url(../images/top-nav.png) repeat-x;
	border-bottom: 2px solid #FC3019;
}
.top-nav ul li a{
	display: block;
	padding: 22.6px;
	background: url(../images/top-nav.png) repeat-x;
	font: bold 14px/16px "Arial";
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.top-nav li:last-child{
	width: 20% !important;
	border-right: 0 !important;
}
.top-nav li.active1> a, .top-nav li> a:hover {
	background:url(../images/top-nav1.png);
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
/*-----.image-slider----*/
.image-slider {
	box-shadow: 0 10px 10px -10px #555;
}
.button1{
	float:right;
	padding: 10px 20px;
	display: block;
	background: url(../images/head1.png)repeat-x;
	border: none;
	font: bold 12px "Arial"!important;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
	margin-bottom:1em;
	margin-right:3px;
	border-radius:3em;
}
.button1:hover{
	background: url(../images/head1h.png)repeat-x;
}
/*---products----*/
.products-box {
	background: #101010;
	padding: 0 !important;
}
.products .section{
	
	width: 100%;
	margin: auto;
}
.products .displayed-item{
	width: calc(20% - 32px) !important;
	padding: 15px;
	margin: 0 !important;
}
.displayed-item h4{
	color: #FFFFFF !important;
}
.displayed-item h3{
	border: 0 !important;
	font-size: 16px !important;
	color:#FC3019 !important; 
}
.products h5{
	display: block;
	padding: 23px;
	font: bold 18px/16px "Arial";
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	background: url(../images/head1.png) repeat-x;
	background: url(../images/top-nav.png) repeat-x;
	border-bottom: 2px solid #FC3019;
}
.content{
	background:#FFF;
}
.products h5 span{
	color:#FC3019;
}
.products-secondbox h4 span{
	color:#FC3019;
	text-decoration:line-through;
	padding-right:5px;
}
.viewall-button-container{
	position: relative !important;
	display: block !important;
	width: 100% !important;
	height: 50px !important;
	text-align: center;
}
.viewall-button-container ul{
	width: fit-content !important;
	height: 100% !important;
	margin: auto !important;
}
.viewall-button-container a{
	margin: 0 !important;
	margin-top: 7.5px !important;
}

/*  GRID OF Five   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_5{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.grid_1_of_5:first-child {
	 margin-left: 0;
} 
.images_1_of_5 {
	width: 18.5%;
	padding: 0.8em 0 0% 0;
	background: #161616;
	text-align: center;
	border: 1px solid rgba(238, 238, 238, 0.13);
	-moz-transition: background 0.5s ease, border 0.3s ease;
	-o-transition: background 0.5s ease, border 0.3s ease;
	-webkit-transition: background 0.5s ease, border 0.3s ease;
}
.images_1_of_5 label{
	color:#FC3019;
	text-decoration:line-through;
}
.images_1_of_5  img{
	max-width:100%;
	display:block;
	margin: 0 auto;
}
.images_1_of_5  h3{
	display: block;
	padding: 0.5em 0 0.2em 0;
	font-family: 'Open Sans', sans-serif;
	font-size:0.875em;
	color: #FFF;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
}
.images_1_of_5  p {
	font-size:0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family : verdana, arial, helvetica, helve, sans-serif; 	
}
.images_1_of_5 h4{
	font-size: 0.8125em;
	color: #555;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
	padding: 7px 0px;
}
.images_1_of_5:hover{
	border: 1px solid #FC3019;
	background: #262626;
	-moz-transition: background 0.5s ease, border 0.3s ease;
	-o-transition: background 0.5s ease, border 0.3s ease;
	-webkit-transition: background 0.5s ease, border 0.3s ease;
}
.images_1_of_5 .button{
	margin-top:.3em;
	line-height:1.9em;
}
.images_1_of_5 .button a{
		padding: 8px 10px;
		display: block;
		background: url(../images/head1.png) repeat-x;
		border: none;
		font: bold 12px "Arial"!important;
		color: #fff;
		text-align: center;
		cursor: pointer;
		-moz-transition: background 0.5s ease;
		-o-transition: background 0.5s ease;
		-webkit-transition: background 0.5s ease;
}
.images_1_of_5 .button a:hover{
	background: url(../images/head1h.png)repeat-x;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:90%;
	}	
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px){
	
	.wrap{
		width:95%;
	}
	.grid_1_of_5{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_5 {
		width:94%;
		padding:3%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_5{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_5 {
		width:92%;
		padding:4%;
	}
}
/*---footer----*/
.footer {
	background: #292828;
	border-top:2px solid #FC3019;
}
.footer-lastgrid ul li{
	display:inline-block;
}
.footer-lastgrid ul{
	padding-top:5px;
}
.footer-lastgrid ul li a{
	padding:0 5px;
}
.span_1_of_4 ul li a{
	color: #63615f;
	font: 12px/27px Arial, Helvetica, sans-serif;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.span_1_of_4 ul li a:hover{
	color:#FC3019;
}
/*  GRID OF FOUR   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	width: calc(50% - 50px) !important;
	height: 200px !important;
	display: block;
	float:left;
	margin: 0;
}
.span_1_of_4 {
	padding: 25px;
	padding-top: 45px;
}
.span_1_of_4  h3{
	display: block;
	padding:10px 0px 12px 0px;
	font: bold 18px/16px "Arial";
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.span_1_of_4  p {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
	font-family :verdana, arial, helvetica, helve, sans-serif; 	 
}
.footer-firstgrid{
	width: calc(50% - 51px) !important;
	text-align:right;
}
.footer-divider{
	display:block;
	height: 270px !important;
	width: 1px;
	float: left;
	background: #000000;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
/*----copy-right-----*/
.footer-lastgrid ul{
	padding: 0 !important;
}
.footer-lastgrid p{
	color: #63615f;
	font-family: 'Open Sans', sans-serif;
	font-size:0.75em;
	padding-top: 25px;
}
.footer-lastgrid p a{
	font-family: 'Open Sans', sans-serif;
	padding-left:3px;
	color:#FC3019;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.footer-lastgrid p a:hover{
	color:#000;
}
.footer-lastgrid li a img{
	background:#fff;
	padding:10px;
}
#methods-payment-img{
	width: 150px !important;
}
/*----Cartires----*/
.car-tires-top-pagnation{
	background:#F8F8F8;
	padding: 5px 12px;
	margin-bottom:15px;
}
.car-tires-top-pagnation ul li{
	display:inline-block;
}
.car-tires-top-pagnation ul li a,.car-tires-top-pagnation ul li span{
	display: block;
	padding: 3px 0px;
	font: bold 12px/0px Arial, Helvetica, sans-serif;
	color: #000;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
	font-weight: bold;
}
.car-tires-top-pagnation ul li span{
	color:#ddd;
	font-weight:normal;
}
.cartire-grid {
	border: 1px solid #EEE;
	padding: 15px;
	box-shadow: 0px 0px 0px rgba(238, 238, 238, 0.08);
	margin-top: 21px;
}
.cartire-grid h4{
	font-family: 'Open Sans', sans-serif;
	padding: 25px;
	text-align: center;
}
.Cartires{
}
.Cartires h5{
	display: block;
	padding: 23px;
	font: bold 18px/16px "Arial";
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	background: url(../images/head1.png) repeat-x;
	background: url(../images/top-nav.png) repeat-x;
	border-bottom: 2px solid #FC3019;
}
.Cartires h5 span{
	color: #FC3019;
}
.cartire-grid-img{
	float:left;
	width: calc(20% - 20px);
	padding-right: 20px;
}

.cartire-grid-info{
	float:left;
	width:59%;
	border-right: 1px solid rgba(202, 202, 202, 0.29);
}
.cartire-grid-info ul li,.cartire-grid-info h3{
	display: block;
	padding: 3px 0px;
	font: bold 12px/30px Arial, Helvetica, sans-serif;
	color:#FC3019;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
	font-weight: bold;
}
.cartire-grid-info h3{
	color:#000;
}
.cartire-grid-info p{
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
	width: 91%;
	height: 60px;
	overflow: hidden;
}
.cartire-grid-info ul li span{
	color:#000;
	padding-right:10px;
}
.cartire-grid-info ul li a, .cartire-grid-info ul li a:visited{
	color:#FC3019;
}
.cartire-grid-cartinfo{
	width:18%;
	float:left;
	padding-left:2%;
}
.cartire-grid-cartinfo h4{
	display: block;
	padding: 3px 0px;
	font: bold 12px/30px Arial, Helvetica, sans-serif;
	color: #000;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
	font-weight: bold;
}
.cartire-grid-cartinfo span{
	font-size: 0.8125em;
	color: #000;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
	padding: 7px 0px;
}
.cartire-grid-cartinfo  ul li{
	display:inline-block;
}
.cartire-grid-cartinfo a{
	padding: 8px 10px;
	display: inline-block;
	background: url(../images/head1.png)repeat-x;
	border: none;
	font: bold 12px "Arial"!important;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
	margin-bottom: 10px;
}
.cartire-grid-cartinfo a:hover{
	background: url(../images/head1h.png)repeat-x;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.cartire-grid-cartinfo ul{
	margin:7px 0px;
}
.cartire-grid-cartinfo ul li p{
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.cartire-pagination-box{
	margin-top: 25px; 
	height: 60px;
	background: red;
}
.cartire-pagination-box ul{
	background: green;
	min-width: 100px;
	width: fit-content;
	height: 100%;
	margin: auto;
}
/*----contact-----*/
.contact{
	background:#fff;
	padding:0px 20px;
}
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	display: block;
	padding: 30px 0px 12px 0px;
	font: bold 18px/16px "Arial";
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			background:#fcfcfc;
			border: none;
			outline:none;
			color:#989898;
			font-size:0.9em;
			font-family:Arial, Helvetica, sans-serif;
			box-shadow: inset 0px 0px 3px #999;
			-webkit-box-shadow: inset 0px 0px 3px #999;
			-moz-box-shadow: inset 0px 0px 3px #999;
			-o-box-shadow: inset 0px 0px 3px #999;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	padding: 10px 20px;
	display: block;
	background: url(../images/head1.png)repeat-x;
	border: none;
	font: bold 12px "Arial"!important;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
	margin-bottom: 1em;
	margin-right: 3px;
	border-radius: 3em;ckground 0.5s ease;
	cursor:pointer;
	border:none;
}
.contact-form input[type="submit"]:hover{
	background: url(../images/head1h.png)repeat-x;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.contact-form input[type="submit"]:active{
	background-position: left bottom;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.company_address p a{
	text-decoration:underline;
	color:#FC3019;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*----single-page-----*/
.single-page{
	padding: 0px 20px;
	padding-bottom: 3em;
}
.single-top-pagination{
	background: #F8F8F8;
	padding: 5px 12px;
	margin-bottom: 15px;
}
.single-top-pagination ul li{
	display:inline-block;
}
.single-top-pagination ul li a{
	display: block;
	padding: 3px 0px;
	font: bold 12px/0px Arial, Helvetica, sans-serif;
	color: #000;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
	font-weight: bold;
}
.single-top-pagination ul li span{
	display: block;
	padding: 3px 0px;
	font:12px/0px Arial, Helvetica, sans-serif;
	color: #ddd;
	font-weight: normal;
	border-right: 1px solid rgba(151, 151, 151, 0.11);
	text-transform: uppercase;
}
.product-image{
	position:static;
	width: 250px;
	height: 250px;
	float:left;
}
.product-image img{
	position:relative;
	float:left;
}
.album-song-card{
	padding: 10px;
	background: #f3f3f3;
	margin-bottom: 5px;
	border-radius: 7px;
}
.album-song-card li{
	display: block;
	float: left;
	padding: 0 10px;
}
.album-card{
	padding: 10px;
	height: 15px !important;
	background: #f3f3f3;
	margin-bottom: 5px;
	border-radius: 7px;
}
.album-card ul{
	height: auto !important;
}
.album-card li, .album-card li *{
	display: inline !important;
	float: left !important;
	margin: 0 !important;
	padding: 0 !important;
}
.album-card h3{
	padding-right: 5px !important;
}
.album-card .album-card-last{
	float: right !important;
}
/*----zoomer----*/
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
		.clearfix{display:block;zoom:1}
		
		
		ul#thumblist{display:block;}
		ul#thumblist li{float:left;margin-right:2px;list-style:none;width: 30.8%;}
		ul#thumblist li a{display:block;border:1px solid #CCC;}
		ul#thumblist li a.zoomThumbActive{
		    border:1px solid red;
		}
		
		.jqzoom{
		
			text-decoration:none;
			float:left;
		}
/*----product-catrgory-pagenation----*/
.product-catrgory-pagenation ul li{
	display:inline-block;
}
.product-catrgory-pagenation ul li h3{
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px "Arial";
	color:#292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
}
.product-catrgory-pagenation ul li.active3> a{
	display: block;
	padding: 4px 0px;
	font: bold 12px/16px "Arial";
	color: #292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-decoration:underline;
}
.product-catrgory-pagenation ul li a{
	display: block;
	padding: 4px 0px;
	font: bold 12px/16px "Arial";
	color: #292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.product-value h4{
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px "Arial";
	color: #292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	border-bottom: 1px solid rgba(192, 192, 192, 0.3);
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}
.product-value ul li{
	display:inline-block;
}
.product-value ul li span{
	text-decoration:line-through;
}
.product-value h2,.product-value span,.product-value h5,.product-value li a,.product-value h3{
	display: block;
	padding: 4px 0px;
	font: bold 12px/16px "Arial";
	color:#292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.product-value li a{
	color:#FC3019;
}
.product-value ul li:last-child{
	float:right;
}
.product-value {
	width: 69%;
	border-bottom: 1px solid rgba(192, 192, 192, 0.3);
	padding: 10px 0px;
}
.product-price-info{
	float:right;
	width: 73%;
}
.product-price-info label{
	color: #ff3300;
}
.product-shipping{
	width: 45%;
	padding: 10px 0px 0 0;
}
.product-shipping  span,.product-shipping p lable{
	float:left;
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px "Arial";
	color:#292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}
.product-shipping p{
	float:right;
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.product-payments{
	width: 68%;
}
.product-payments  span,.product-payments p lable{
	float:left;
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px "Arial";
	color:#292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}
.product-payments p{
	float:right;
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.product-description h3{
	display: block;
	padding: 4px 0px;
	font: bold 16px/16px "Arial";
	color:#292828;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding: 0px 0px 5px 0px;
}
.product-description p{
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
	margin-bottom: 10px;
}
.product-description a{
	padding: 8px 10px;
	display: inline-block;
	background: url(../images/head1.png) repeat-x;
	border: none;
	border-radius: 7px;
	font: bold 12px "Arial"!important;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.product-description a:hover{
	background: url(../images/head1h.png) repeat-x;
	text-decoration: none !important;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: #050505; 
  max-width: 400;  
  margin:0 auto 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  text-align: center;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: url(../images/head1.png) repeat-x;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ff1100;
}
.form .message {
  font-family: "Roboto", sans-serif;
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 12px;
}
.form .message a:hover{
  color: #ff1100;
}
.form .message a {
  font-family: "Roboto", sans-serif;
  color: #aa8888;
  padding-left: 5px;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/*-----single-artist-page----*/
.artist-info-container{
	position: static;
	margin: auto;
	height: 300px;
	width: 100%;
}
.artist-info-container ul{
	display:inline-block;
}
.image-container{
	position: static;
	float: left;
	width: 210px;
	height: 210px;
	margin: 25px;
}
.image-container img{
	position:relative;
	margin: auto;
}
.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 600px;
}
.info-container li{
	padding: 8px;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.artist-name{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size:36px;
	color: #ff1111;
}
.artist-description{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
}
.artist-link{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

/*----cart-page----*/
.cart-page-container{
	position:static;
	background: none;
	width: 100%;
	display: block;
}
.cart-page-title-box{
	position:static;
	float:center;
	margin:auto;
	height: 100px;
	width:800px;
	text-align:center;
}
.cartpage-title{
	position:relative;
	top: 25px;
	color: red;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 32px;
}
.cart-page-list-box{
	position: static;
	float:center;
	margin:auto;
	width: 800px;
}
.single-cart-item{
	position:static;
	background: #0a0a0a;
	border-radius: 10px;
	box-shadow: 2px 2px 15px black;
	height: 200px;
	width: 800px;
	margin-bottom:15px;
	margin-top:15px;
}
.single-cart-item label{
	color: #ff1100;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.cart-item-image-box{
	position: relative;
	height: 150px;
	width: 150px;
	float:left;
	margin: 25px;
	margin-right:0;
}
.cart-item-image-box img{
	border-radius: 10px;
	width:100%;
}
.cart-item-description-box{
	position:relative;
	height: 150px;
	width: 275px;
	float:left;
	margin: 25px;
	margin-right:0;		
}
.cart-item-description-box-head{
	position:relative;
	height: 50px;
	width: 275px;
	float:left;		
}
.cart-item-description-box-body{
	position:relative;
	height: 100px;
	width: 275px;
	float:right;		
}
.cart-item-name{
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
}
.cart-item-description{
	background: none;
	resize: none;
	border: 0;
	width: 100%;
	height: 80px;
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
.cart-item-price-box{
	position:relative;
	height: 150px;
	width: 125px;
	float:left;
	margin: 25px;
	margin-right:0;	
}
.cart-item-price{
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	width: 125px;
	border: 0;
	background: none;
}
.cart-item-input-box{
	position:relative;
	height: 150px;
	width: 125px;
	float:left;
	margin: 25px;
	margin-right:0;	
}
.cart-item-input-box a{
	text-align:center;
	position:relative;
	float:left;
	width: 100px;
	margin-top: 20px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	background: url(../images/head1.png)repeat-x;
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-remove-button{
	text-align:center;
	position:relative;
	float:left;
	border: 0;
	width: 130px;
	margin-top: 20px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	background: url(../images/head1.png)repeat-x;
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-remove-button:hover{
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-item-input-box button:hover{
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-item-amount{
	color: #fafafa;
	border: solid;
	border-color: #050505;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	width: 125px;
	background: none;
}
.cart-page-end{
	position:static;
	text-align:center;
	float:center;
	margin:auto;
	width: 800px;
	height: 100px;
}
.cart-page-end button{
	position: relative;
	margin-top:25px;
	background: url(../images/head1.png)repeat-x;
	border: 0;
	border-radius: 7px;
	padding: 10px;
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-page-end button:hover{
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.cart-page-divider-1{
	background: url(../images/divider1_2_760px_width.png)repeat-y;
	width: 760px;
	height: 1px;
	float:center;
	margin:auto;
}
/*----account-page----*/
.your-account-container{
	position: relative;
	width: 100%;
}
.account-box{
	position:relative;
	background: #050505;
	min-height: 400px;
	width:90%;
	margin-top:25px !important;
	margin-bottom:25px !important;
	margin:auto;
	border-radius: 7px;
	box-shadow:0px 0px 20px;
}
.account-box ul{
	display:block;
}
.account-title-box{
	position:relative;
	text-align:center;
	height: 50px;
	width: calc(100% - 50px);
	margin: auto;
}
.account-title-box li{
	display: inline;
	float: left;
	width: 100%;
	padding-top: 10px;
	color: #ff3311;
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	text-align:left;
}
.account-static-info{
	position:relative;
	min-height: 140px;
	width: calc(100% - 50px);
	margin: auto;
}
.account-static-info ul{
	display: inline-block;
	float: left;
	width: 100%;
	margin: auto;
}
.account-info-profile ul{
	display: inline-block;
	float: left !important;
	width: calc(50% - 20px) !important;
	margin-left: 10px;
	margin-right: 10px;
}
.account-static-info label{
	position:relative;
	float:left;
	top: 2.5px;
	color: #ff3311;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.account-button-box{
	display: block;
	position:relative;
	margin-top: 10px;
	height: 40px;
	width: 100%;
	text-align: center;
}
#save-button-box{
	top: -38px;
	visibility: hidden;
}
.account-button-box-inner{
	position:relative;
	text-align:center;
	margin-left: 25px;
	margin-right: 25px;
}
.account-button-box-inner li{
	position:relative;
	display: inline-block;
	width: 100px;
	padding: 10px 20px;
	background: url(../images/head1.jpg)repeat-x; 
	border-radius: 7px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.account-button-box-inner a{
	position:relative;
	color: #fafafa;
	width: 300px !important;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}
.account-button-box-inner input{
	position:relative;
	border: 0;
	margin: auto;
	display: block;
	width: 300px;
	height: 40px;
	background: url(../images/head1.jpg)repeat-x; 
	border-radius: 7px;
	font-family: "Roboto", sans-serif;
	color: #fafafa;
	font-size: 14px;
	text-transform: uppercase;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.account-button-box-inner li:hover{
	background: url(../images/head1h.jpg)repeat-x; 
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.account-button-box-inner input:hover{
	background: url(../images/head1h.jpg)repeat-x; 
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.account-static-info li{
	display: block;
	text-align: center;
	background: #a5a5a5;
	height: 40px;
	border-radius: 7px;
}
.account-static-info input{
	text-align: center;
	background: none;
	border: 0;
	height: 38px;
	width: 100%;
	border-radius: 7px;
	-moz-transition: box-shadow 0.2s ease;
	-webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
	-moz-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.account-static-info input:disabled{
	color:black;
	background: light-grey;
}
.account-static-info input:focus{
	background: #80F49F;
	box-shadow: 0px 0px 15px #39E439;
	-moz-transition: box-shadow 0.2s ease;
	-webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
	-moz-transition:background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.account-static-info li:not(:last-child){
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.account-static-info li:last-child{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
.account-static-info li:not(:first-child){
	margin-top:20px;
}
.address-card{
	display: block;
	height: 235px;
	background: #707070;
	border-radius: 7px;
	margin-bottom: 10px !important;
}
.address-card:last-child{
	margin-bottom: 0 !important;
}
.address-card ul{
	width: calc(50% - 20px);
	padding: 10px;
}
.address-card li{
	display: block;
	width: 100%;
	height: 36px;
	background: #909090;
	font-size: 14px !important;
	margin: 0 !important;
	margin-bottom: 5px !important;
}
.address-card li:last-child{
	margin-bottom: 0 !important;
}
.address-card li h1, .address-card li h6{
	display: inline-block;
	padding: 10px;
	float: left;
}
.address-card li h1{
	width: calc(40% - 20px);
	color: #ffffff;
	text-transform: uppercase;
	text-align:left;	
}
.address-card li h6{
	width: calc(60% - 20px);
	text-transform: initial;
	text-align:left;	
}
.address-buttons-container{
	width: calc(100% - 20px) !important;
}
.address-buttons-container li{
	display: inline-block;
	margin: auto !important;
	background: url(../images/head1.jpg)repeat-x;
	padding: 10px;
	height: auto !important;
	width: 100px;
	-moz-transition:background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.address-buttons-container li:hover{
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition:background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.address-buttons-container li a{
	text-transform: uppercase;
	color: #fafafa;
}
.add-address-box{
	padding: 10px;
	width: calc(100% - 70px);
	margin-left: 25px;
	margin-left: 25px;
	margin-top: 10px;
}
.new-address-button{
	margin: auto;
	text-align: center;
	background: url(../images/head1.jpg)repeat-x;
	padding: 10px;
	border-radius: 7px;
	height: auto !important;
	width: 150px;
	-moz-transition:background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.new-address-button:hover{
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition:background 0.5s ease;
	-webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.new-address-button a{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #fafafa;
}
.no-addresses-card{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	background: #707070;
	border-radius: 7px;
	padding: 10px;
	width: calc(100% - 70px);
	margin-left: 25px;
	margin-left: 25px;
}
/*----result-page----*/

.resultpage-box{
	position: static;
	background: #fafafa;
	width: 100%;
	min-height:320px;
}
.resultpage-box ul{
	display: block;
}
.resultpage-filter-box{
	position: relative;
	width: 100%;
	height: 75px;

}
.resultpage-filter-box ul{
	display:inline-block;
}
#first-resultpage-label{
	margin-left: 25px;
}
.resultpage-filter-box label{
	position:relative;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	top: 25px;
	margin-left: 75px;
}
.resultpage-searchbar{
	position:relative;
	top:25px;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: #ff3311;
}
.resultpage-filters{
	position:relative;
	top:25px;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}
.resultpage-price-filter{
	position:relative;
	top:25px;
	margin-left: 10px;
}
.resultpage-price-filter input{
	margin-left: 5px;
}
.resultpage-search-button{
	position:relative;
	width: 100px;
	height: 40px;
	margin:auto;
	text-align: center;
	top: 50px;
}
.resultpage-search-button button{
	background: url(../images/head1.jpg)repeat-x;
	color: #fafafa;
	border-radius:4px;
	border-style: solid;
	padding:5px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	text-align:center;
	width: 80px;
	height: 36px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.resultpage-search-button button:hover{
	color: #fafafa;
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.resultpage-title{
	position:relative;
	width: 100%;
	height: 50px;
	margin-top: 50px;
	text-align:center;
	padding-top:15px;
}
.resultpage-title li{
	font-family: "Roboto", sans-serif;
	font-size: 30px;
}
.resultpage-divider{
	position: relative;
	background: lightgray;
	height: 1px;
	width:80%;
	margin: auto;
}
.results-artists-box{
	position:static;
	margin: 25px;
}
.single-artist-result{
	background: #f4f4f4;
	border-style: groove;
	border-width: 2px;
	border-color: #f4f4f4;
	border-radius: 4px;
	display: inline-block;
	position:relative;
	margin: 4px;
	padding: 25px;
	height: 250px;
	width: 171px;
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-artist-result:hover{
	border-color: #ff5555;
	background: #f4dddd;
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-artist-result-image{
	position:relative;
	width: 150px;
	height: 150px;
	margin:auto;
}
.single-artist-result-info{
	text-align: center;
	position:relative;
	float:left;
	width: 170px;
	height: 100px;
	margin:auto;
}
.single-artist-result-info li{
	position:relative;
	top: 2px;
	padding: 12px;
}
.artist-name-result{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}
.result-artist-detail-button li{
	width: 80px;
	margin:auto;
	color: #fafafa;
	background: url(../images/head1.jpg)repeat-x;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	border-radius:10px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.result-artist-detail-button li:hover{
	color: #fafafa;
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.results-songs-box{
	position:static;
	margin: 25px;
}
.single-song-result{
	background: #f4f4f4;
	border-style: groove;
	border-width: 2px;
	border-color: #f4f4f4;
	border-radius: 4px;
	display: inline-block;
	position:relative;
	margin: 4px;
	padding: 25px;
	height: 250px;
	width: 171px;
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-song-result:hover{
	border-color: #ff5555;
	background: #f4dddd;
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-song-result-image{
	position:relative;
	width: 150px;
	height: 150px;
	margin:auto;
}
.single-song-result-info{
	text-align: center;
	position:relative;
	float:left;
	width: 170px;
	height: 100px;
	margin:auto;
}
.single-song-result-info li:first-child{
	position:relative;
	top: 5px;
	padding: 6px;
}
.single-song-result-info li:not(:first-child){
	position:relative;
	top: 5px;
	padding: 7px;
}
.song-name-result{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}
.song-price-result{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
.result-song-detail-button li{
	position:relative;
	top: 5px;
	width: 80px;
	margin:auto;
	color: #fafafa;
	background: url(../images/head1.jpg)repeat-x;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	border-radius:7px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.result-song-detail-button li:hover{
	color: #fafafa;
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.result-song-addcart-button li{
	width: 80px;
	margin:auto;
	color: #fafafa;
	background: url(../images/head1.jpg)repeat-x;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	border-radius:7px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.result-song-addcart-button li:hover{
	color: #fafafa;
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.results-albums-box{
	position:static;
	margin: 25px;
}
.single-album-result{
	background: #f4f4f4;
	border-style: groove;
	border-width: 2px;
	border-color: #f4f4f4;
	border-radius: 4px;
	display: inline-block;
	position:relative;
	margin: 4px;
	padding: 25px;
	height: 250px;
	width: 171px;
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-album-result:hover{
	border-color: #ff5555;
	background: #f4dddd;
	-moz-transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.single-album-result-image{
	position:relative;
	width: 150px;
	height: 150px;
	margin:auto;
}
.single-album-result-info{
	text-align: center;
	position:relative;
	float:left;
	width: 170px;
	height: 100px;
	margin:auto;
}
.single-album-result-info li:first-child{
	position:relative;
	top: 5px;
	padding: 6px;
}
.single-album-result-info li:not(:first-child){
	position:relative;
	top: 5px;
	padding: 7px;
}
.album-name-result{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}
.album-price-result{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
.result-album-detail-button li{
	position:relative;
	top: 5px;
	width: 80px;
	margin:auto;
	color: #fafafa;
	background: url(../images/head1.jpg)repeat-x;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	border-radius:7px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.result-album-detail-button li:hover{
	color: #fafafa;
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.result-album-addcart-button li{
	width: 80px;
	margin:auto;
	color: #fafafa;
	background: url(../images/head1.jpg)repeat-x;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	border-radius:7px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.result-album-addcart-button li:hover{
	color: #fafafa;
	background: url(../images/head1h.jpg)repeat-x;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.resultpage-endpage{
	position:relative;
	height: 100px;
	margin: 25px;
}
.result-endpage-box{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	position:relative;
	height: 100%;
	width: 1000px;
	margin:auto;
	text-align:center;
}
.result-endpage-box li{
	display: inline;
	position:relative;
	top: 25px;
	min-width: 10px;
}
.result-endpage-box li:last-child{
	display:none;
}
.result-endpage-separator{
	color: #bbbbbb;
}
.result-endpage-link{
	color: black;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.result-endpage-link:hover{
	color: red;
	text-shadow: orange 1px 1px 10px;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
/*----responsive design----*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	
}
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.product-price-info {
		float: right;
		width: 71.5%;
	}
	.product-shipping {
		width: 49%;
	}
	.product-payments {
		width: 74%;
	}
}
@media only screen and (max-width: 1280px){
	.wrap{
		width:90%;
	}
	.product-price-info {
		width: 71%;
	}
}
@media(max-width:1080px){
	
}
@media(max-width:1050px){
	.sub-header-center input[type="text"] {
		width: 40%;
	}
	.sub-header-center {
		    width: 35%;
	}
}
@media only screen and (max-width: 1024px){
	.wrap{
		width:90%;
	}
	.product-price-info {
		width:70%;
	}
	.product-shipping {
		width: 67%;
	}
	ul#thumblist li {
		width: 32.47%;
	}
	.top-nav ul li a {
		padding: 22.6px 25.2px;
	}
}
@media(max-width:991px){
	.artist-info-container{
	position: relative;
	margin: auto;
	height: 340px;
	width: 100%;
	}
	.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 500px;
	}
	.image-container{
	width: 210px;
	height: 210px;
	position: relative;
	}
}
@media(max-width:900px){
	.sub-header-center {
		width: 30%;
	}
	.images_1_of_5 {
		width: 22.5%;
	}
}
@media(max-width:880px){
	.artist-info-container{
	position: relative;
	margin: auto;
	height: 380px;
	width: 100%;
}
	.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 400px;
	}
}
}
@media(max-width:800px){
	.sub-header-center {
		width: 60%;
	}
	.images_1_of_5 {
		width: 47.5%;
		margin: 0 0 14px 0;
		padding: 0;
	}
	.images_1_of_5 {
		width: 49.5%;
		/* margin: 0 0 14px 0; */
		padding: 0;
	}
	.cartire-grid-img{
		margin-right: 2%;
	}
	.top-nav ul li a{
		font: bold 12px/16px "Arial";
	}
	.cartire-grid-info{
		width: 56%;
	}
}
@media only screen and (max-width: 768px){
	.wrap{
		width:90%;
	}
	.sub-header-right input[type="text"] {
		width: 204px;
	}
	.top-nav ul li a {
		padding: 22.6px 13.17px;
		font-size:12px;
	}
	.product-price-info {
		width: 70%;
	}
	.product-shipping {
		width: 73%;
	}
	.top-nav ul li a {
		padding: 22.6px 20.60px;
		font-size: 12px;
	}
		.artist-info-container{
	position: relative;
	margin: auto;
	height: 470px;
	width: 100%;
}
	.info-container{
	font-size-adjust: 0.58;
	position: relative;
	top:10px;
	max-width: 300px;
	}
}
	
}
@media(max-width:736px){
	.span_1_of_4 {
		width: 43%;
	}
	.sub-header-center {
		width: 54%;
	}
	.top-nav ul li a {
		padding: 22.6px 15.33px;
	}
}
@media(max-width:600px){
	.logo {
		float: left;
		margin-top: 18px;
		width: 100%;
		text-align: center;
	}
	.sub-header-center {
		width: 100%;
	}
	.top-nav ul li a {
		padding: 22.6px 10.33px;
	}
}
@media(max-width:568px){
	.top-nav ul li a {
		padding: 22.6px 7.93px;
	}
	.cartire-grid-img {
		width: 100%;
	}
	.cartire-grid-info {
		width: 106%;
	}
	.cartire-grid-cartinfo {
		width: 100%;
	}
}
@media(max-width:480px){
	.top-header-left ul li a {
		padding: 8px 7px;
	}
	.top-nav ul li a {
		padding: 22.6px 23.93px;
	}
	.images_1_of_5 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}	
	.top-header-left ul li a, .top-header-right ul li a{
		font-size: 0.65em;	
	}
	.wrap {
		width: 85%;
	}
	
}		
@media( max-width:414px){
	.top-nav ul li a {
		padding: 22.6px 18.93px;
	}
	.top-header-left ul li a, .top-header-right ul li a{
		font-size: 0.55em;	
	}
	.top-header-left ul li a, .top-header-right ul li a {
		font-size: 0.85em;
	}
	.top-header-right {
		float: left;
		margin-top: 25px;
	}
	.top-nav ul li a {
		padding: 22.6px 10.93px;
	}
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	.top-nav ul li a {
		padding: 22.6px 5.55px;
	}	
	.sub-header-right {
		float: left;
	}
	.sub-header-right ul li a {
		padding: 0px 4px;
	}
	.top-header-left ul li a, .top-header-right ul li a {
		font-size: 0.70em;
	}
}



		