<div class="content">
					<div class="single-page"><br />
						<div class="clear"> </div>
						<div class="product-info">
						
							<div class="product-image">
								<img src="{$album.img_path}">
							</div>
							<div class="product-price-info">
									<div class="product-value">
									<h4><label>Title : </label>{$album.nome_album}</h4>
									<ul>
										
										<li><h2>Artist : <a href="artistpage.php?id_artista={$album.id_artista}">{$album.nome_artista}</a></h2></li>
										<br>
										<li><h2>Genre : {$album.genere}</h2></li>
										<br>
										<li><h2>Label : {$album.etichetta}</h2></li>
										<br>
										<li><h2>Disks : {$album.dischi}</h2></li>
										<br>
										<li><h2>Tracks : {$album.tracce}</h2></li>
										<br>
										<li><h2>Description : </h2><h5>{$album.descrizione}<h5></li>
										<br>
										<li><h2>Published on : {$album.pubblicazione}</h2></li>
										<br>
										<li><h2>Price :</h2></li>
										<li><span>{$album.prezzo}&euro;</span></li>
										<li><a>{$album.prezzo_offerta}&euro;</a></li>
										<br>
										<li><a href="#">In stock : {$album.stock}</a></li>
										
										<br>
										<br>
										<h4><label>Songs: </label></h4>
										{foreach $songs as $song}
											<div class="album-song-card">
												<li><h3>Title : <a>{$song.nome_canzone}</a></h3></li>
												
												<audio controls controlsList="nodownload">
													<source src="{$song.song_path}" type="audio/mp3">
													Your browser does not support the audio element.
												</audio>
											</div>
										{/foreach}
										
									</ul>
								</div>
								<div class="product-description">
									<a href="#">Add to Cart</a>
								</div>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
			</div>
			<div class="clear"> </div>
</div>