<div class="content">
	<!-- TODO completare -->
					<div class="single-page"><br />
						<div class="clear"> </div>
						<div class="product-info">
						
							<div class="product-image">
								<img src="{$artista.img_path}">
							</div>
							<div class="product-price-info">
								<div class="product-value">
								<h4><label>Artist : </label>{$artista.nome_artista}</h4>
									<ul>
										<li><h2>Genre : {$artista.genere}</h2></li>
										<br>
										<li><h2>Years active : {$artista.inizio_attivita} - {$artista.fine_attivita}</h2></li>
										<br>
										<li><h2>Bio : </h2><h5>{$artista.biografia}<h5></li>
										
										<br>
										<h4><label>Albums Published: </label></h4>
										{foreach $album as $published}
											<div class="album-card">
											<ul>
												<li><h3>Title : </h3><a href="albumpage.php?id_album={$published.id_album}">{$published.nome_album}</a></li>
											</ul>
											</div>
										{/foreach}
										
									</ul>
								</div>
								
							</div>
							<div class="clear"> </div>
						</div>
					</div>
			</div>
			<div class="clear"> </div>
</div>