{if isset($error)}
{include file="$error"}
{/if}
	<div class="cart-page-container">
		<form id="cart_form" action="process_order.php" method="POST">
			<div class="cart-page-title-box">
				<a class="cartpage-title">Your Cart :</a>
			</div>
			<div class="cart-page-divider-1">
			</div>
			<div class="cart-page-list-box">
				{foreach $cart_content as $item}
					<ul>
						<div class="single-cart-item">
							
						<div class="cart-item-image-box">
							<img src="{$item.item_image_path}" title="cart-item-image"/>
						</div>
								
						<div class="cart-item-description-box">
							<div class="cart-item-description-box-head">
								<label for="cart-item-name">Product :</label>
								<a class="cart-item-name" id="cart-item-name">{$item.item_name}</a> <!-- max 30 caratteri -->
							</div>
							<div class="cart-item-description-box-body">
								<label for="cart-item-description">Description :</label>
								<textarea class="cart-item-description" id="cart-item-description" disabled>{$item.item_description}</textarea>
							</div>
						</div> 
								
						<div class="cart-item-price-box">
							<label for="cart-item-price">Price : EUR</label>
							<input class="cart-item-price" id="cart_item_price" type="number" value="{$item.item_price}" disabled></input> <!-- i numeri decimali devono essere inseriti in $item.item_price con il punto e non la virgola  -->
						</div>
								
						<div class="cart-item-input-box">
							<label for="cart-item-amount">Quantity</label>
							<input class="cart-item-amount" id="cart-item-amount" name="{$item.item_name}" type="number" max="{$item.in_stock}" min="1" value="1" onchange="quantity_change(this.name, this.value, this.max)"></input>
							<a href="#">Details</a>
							<input class="cart-remove-button" type="button" name="{$item.item_name}" value="Remove" onclick="remove_item(this.name)"></input> <!-- da modificare -->
						</div>
						
						</div>
					</ul>
				{/foreach}
				{if count($cart_content) == 0}
				<h1 style="text-align: center; color: white">No items here!</h1>
				{/if}
			</div>
			<div class="cart-page-divider-1">
			</div>
			<div class="cart-page-end">
				<button onclick="checkout()">Proceed to Checkout</button>
			</div>
		</form>
	</div>
	<script src="../js/cart.js"></script>				
	
	