<div class="cart-page-container">
	<form id="cart_form" action="" method="POST">
		<div class="cart-page-title-box">
				<a class="cartpage-title">Checkout</a>
		</div>
		
		<div class="checkout-list-box">
		
		
			<div class="checkout-right-panel" id="checkout-right-panel">
				<label>Order Summary</label>
				<div class="right-panel-inner">
					<h1>Items : <a>&euro;</a><a id="right-panel-items"></a></h1>
					<h1>Shipping : <a>&euro;</a><a id="right-panel-shipping"></a></h1>
				</div>
				<label>Order Total : <a>&euro;</a><a id="right-panel-total"></a></label>
			</div>
		
		
			<div class="checkout-left-panel">
				<ul>
				
					<li>
					<section class="collapsible">
						<header aria-controls="shipping-address-box" aria-expanded="true">
						<label>Shipping Address</label>
						</header>
						<div class="checkout-left-box" id="shipping-address-box">
							{if isset($addresses)}
							<div class="left-box-inner">
							<label>Chose your address : </label>
								{foreach $addresses as $address}
									<div class="left-box-single-address">
										<input type="radio" name="address_radiobutton" value="{$address.id_indirizzo}"/>
										<div class="address-radio-info">
											<ul>
												<li>Costumer : {$address.cognome} {$address.nome}</li><br>
												<li>{$address.indirizzo} - {$address.cap}</li><br>
												<li>{$address.citta}, {$address.provincia}</li><br>
												<li>{$address.paese}</li><br>
												<li>{$address.recapito}</li><br>
											</ul>
										</div>
									</div>
								{/foreach}	
							</div>
							{else}
							<div class="left-box-inner">
							<label>No addresses associated with your account! <br> Please, insert one before proceeding with checkout.</label>
							<br> 
							<br> 
							<a id="no-address-profile-link" href="account.php">Go to Profile</a>
							<br> 
							<br> 
							</div>
							{/if}
						
						</div>
					</section>
					</li>
					
					<li>
					<section class="collapsible">
						<header aria-controls="payment-method-box" aria-expanded="false">
						<label>Payment Method</label>
						</header>
						<div class="checkout-left-box" id="payment-method-box">
							<div class="left-box-inner">
								<label>Credit Card :</label><br>
								<h1>Costumer Name</h1><input type="text" name="credit_card_name" value=""/><br>
								<h1>Costumer Surname</h1><input type="text" name="credit_card_surname" value=""/><br>
								<h1>Card Number</h1><input type="number" name="credit_card_number" value=""/><br>
								<h1>Expiration Date</h1><input type="date" name="credit_card_expiration_date" value=""/><br>
							</div>
						</div>
					</section>
					</li>
					
					<li>
					<section class="collapsible">
						<header aria-controls="checkout-review-box" aria-expanded="false">
						<label>Review Items and Shipping</label>
						</header>
						<div class="checkout-left-box" id="checkout-review-box">
							<div class="left-box-inner">
								
							{foreach $cart_content as $item}
								<div class="checkout-item-box">
									<label>Album : <a>{$item.item_name}</a></label><br>
									<h1>Price : </h1><input type="number" value="{$item.item_price}" readonly />&euro;<br>
									<h1>Quantity : </h1><input type="number" value="{$item.item_quantity}" readonly /><br>
								</div>
							{/foreach}
							
								<div class="checkout-shipping-box">
									<label>Shipping :</label><br>
									{foreach $shipping_methods as $method}
									<input type="radio" onclick="updateTotal()" name="shipping_radiobutton" class="shipping-radiobutton" value="{$method.price}"/><label>{$method.name} : <a>{$method.price} &euro;</a></label>
									{/foreach}
								</div>
								
								<div class="checkout-total-box">
									<label>Total : <input type="number" id="checkout-total-input" name="checkout-total-input" value="0" readonly />&euro;</label><br>
								</div>
							</div>
						</div>
					</section>
					</li>
					
				</ul>
			</div>
			
		</div>

<style>		
.sticky {
  position: fixed;
  top: 0;
  width: calc(25% - 30px);
}

.sticky + .content {
  padding-top: 60px;
}
</style>

<script src="../js/jquery.collapsible.js"></script>

<script>
window.onscroll = function() { addSticky() };

var right_panel = document.getElementById("checkout-right-panel");
var sticky = right_panel.offsetTop;

function addSticky() {
  if (window.pageYOffset >= sticky) {
    right_panel.classList.add("sticky")
  } else {
    right_panel.classList.remove("sticky");
  }
}
</script>
<script>
window.onload = updateTotal();
function updateTotal(){
	var total = 0;
	var items_total = 0;
	var shipping = 0;
	
	{foreach $cart_content as $item}
		total += (Number({$item.item_quantity}) * Number({$item.item_price}));
		items_total += (Number({$item.item_quantity}) * Number({$item.item_price}));
	{/foreach}
	
	$('.shipping-radiobutton').each(function(){
		if(this.checked == true){
			total += Number(this.value);
			shipping = Number(this.value);
		}
	});
	
	$('#right-panel-items').text(items_total);
	$('#right-panel-shipping').text(shipping);
	$('#right-panel-total').text(total);
	$('#checkout-total-input').val(total);
}
</script>
		
		<div class="cart-page-end">
				<button onclick="">Place your order</button>
		</div>
	</form>
</div>