<!--start-image-slider---->
					<div class="image-slider">
						<!-- Slideshow 1 -->
					    <ul class="rslides" id="slider1">
					      <li><img src="../images/slider1.jpg" alt=""></li>
					      <li><img src="../images/slider3.jpg" alt=""></li>
					      <li><img src="../images/slider1.jpg" alt=""></li>
					    </ul>
						 <!-- Slideshow 2 -->
					</div>
					<!--End-image-slider---->
				<div class="content">
					<div class="products-box">
					<div class="products">
						<h5><span>Recent</span> Albums</h5>
						<div class="section group">
							{foreach $recent_albums as $album}
							<div class="grid_1_of_5 images_1_of_5 displayed-item">
								<img src="{$album.img_path}">
								<h3>{$album.nome_album}</h3>
								<p>{$album.descrizione}</p>
								<h4><span></span>{$album.prezzo}&euro;</h4>
								<div class="button"><span><a href="albumpage.php?id_album={$album.id_album}">Read More</a></span></div>
							</div>
							{/foreach}
						</div>
						<div class="viewall-button-container">
							<ul>
								<li><a class="button1" href="#">View all</a></li>
							</ul>
						</div>
						
						<div class="clear"> </div>
					</div>
					<div class="products products-secondbox">
						<h5><span>Big</span> Deals</h5>
						<div class="section group">
						{foreach $special_offers as $album}
							<div class="grid_1_of_5 images_1_of_5 displayed-item">
								 <img src="{$album.img_path}">
								 <h3>{$album.nome_album}</h3>
								 <p>{$album.descrizione}</p>
								 <h4><span>{$album.prezzo}&euro;</span>{$album.prezzo_offerta}&euro;</h4>
							     <div class="button"><span><a href="albumpage.php?id_album={$album.id_album}">Read More</a></span></div>
							</div>
						{/foreach}
						</div>
						<div class="viewall-button-container">
							<ul>
								<li><a class="button1" href="#">View all</a></li>
							</ul>
						</div>
						<div class="clear"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>