		<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Gestisci Offerte</h1>
                    </div>
                </div>
            </div>
            
        </div>
		
		<div class="content mt-3">
			<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="animated fadeIn">
                <div class="row">

				
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Aggiungi alle Offerte</strong>
                        </div>
                        <div class="card-body">
                  <table class="table table-striped table-bordered bootstrap-data-table">
                    <thead>
                      <tr>
						<th>Seleziona</th>
                        <th>Prezzo Offerta</th>
                        <th>Prezzo</th>
                        <th>Album</th>
                        <th>Artista</th>
                      </tr>
                    </thead>
                    <tbody>
					{foreach $album_scontati as $item}
                      <tr>
						<td><input type="checkbox" id="checkbox-{$item.id_album}" name="selezioni_offerta[]" value="{$item.id_album}" class="offerte-checkbox" onclick="checkbox_func1({$item.id_album})"/></td>
						<td><input type="number" id="offerta-{$item.id_album}" name="prezzo_offerta[]" value="" disabled="true"/></td>
						<td>{$item.prezzo}</td>
                        <td>{$item.nome_album}</td>
                        <td>{$item.fk_artista}</td>
                      </tr>
					{/foreach}  
                    </tbody>
                  </table>
                        </div>
                    </div>
                </div>
				


                </div>
            </div><!-- .animated -->
			</form>
			
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Aggiungi
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            
        </div><!-- .content -->
		
		<div class="content mt-3">
			<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="animated fadeIn">
                <div class="row">

				
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Offerte Esistenti : </strong> Seleziona per Modificare o Rimuovere
                        </div>
                        <div class="card-body">
                  <table class="table table-striped table-bordered bootstrap-data-table">
                    <thead>
                      <tr>
						<th>Seleziona</th>
                        <th>Prezzo Offerta</th>
                        <th>Prezzo</th>
                        <th>Album</th>
                        <th>Artista</th>
                      </tr>
                    </thead>
                    <tbody>
					{foreach $album as $item}
                      <tr>
						<td><input type="checkbox" id="checkbox-{$item.id_album}" name="selezioni_offerta[]" value="{$item.id_album}" class="offerte-checkbox" onclick="checkbox_func2({$item.id_album})"/></td>
						<td><input type="number" id="offerta-{$item.id_album}" name="prezzo_offerta[]" value="{$item.prezzo_offerta}" disabled="true"/></td>
						<td>{$item.prezzo} </td>
                        <td>{$item.nome_album}</td>
                        <td>{$item.fk_artista}</td>
                      </tr>
					{/foreach}  
                    </tbody>
                  </table>
                        </div>
                    </div>
                </div>
				


                </div>
            </div><!-- .animated -->
			</form>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Modifica
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
					<button class="btn btn-danger btn-sm">
                        <i class="fa fa-times-circle"></i> Rimuovi
                    </button>
                </div>
            
        </div><!-- .content -->

<script>
	function checkbox_func1(id){
	
		var checkBox = document.getElementById("checkbox-" + id);
		var yearInput = document.getElementById("offerta-" + id);
	
		if (checkBox.checked == true){
			yearInput.disabled = false;
		} else {
			yearInput.disabled = true;
		}
	}
</script>

<script>
	function checkbox_func2(id){
	
		var checkBox = document.getElementById("checkbox-" + id);
		var yearInput = document.getElementById("offerta-" + id);
	
		if (checkBox.checked == true){
			yearInput.disabled = false;
		} else {
			yearInput.disabled = true;
		}
	}
</script>
