<style>
.menu {
	position: absolute;
	top: 35%;
	right: 45%;
}
.back-button {
		position: absolute;
		top: 18%;
		left: 5%;
	}
</style>
<form class="back-button" action="mod_panel.php">
    <input type="submit" value="Torna al Pannello Moderatore" />
</form>
{if isset($message)}<h2 style="text-align:center;">{$message}</h2>{/if}
<div class="menu">
<a style="text-decoration:none;" href="mod_insert_new_artist.php">Inserisci Nuovo Artista</a>
<br>
<a style="text-decoration:none;" href="mod_insert_new_album.php">Inserisci Nuovo Album</a>
<br>
<a style="text-decoration:none;" href="mod_insert_new_song.php">Inserisci Nuova Canzone</a>
<br>
<br>
<a style="text-decoration:none;" href="mod_modify_delete.php">Modifica/Cancella Artista/Album/Canzone</a>
</div>
