<style>
.menu {
	position: absolute;
	top: 35%;
	right: 35%;
}
.back-button {
	position: absolute;
	top: 18%;
	left: 5%;
}
</style>
<div class="menu">
	<form id="album-form" action="mod_insert_new_album.php" method="POST" enctype="multipart/form-data">
		Nome Album:<input type="text" name="nome_album" maxlength="30" required />
		<br>
		Genere:
		{foreach $generi as $genere}
		<input type="radio" name="fk_genere" value="{$genere.id_genere}" required /> {$genere.genere}
		{/foreach}
		<br>
		Artista:<select name="fk_artista">
					{foreach $artisti as $artista}
					<option value="{$artista.id_artista}">{$artista.nome_artista}</option>
					{/foreach}
				</select>
		<br>
		Prezzo:
		<input type="number" name="prezzo" value="0" required />
		<br>
		Pubblicazione:
		<input type="date" name="pubblicazione" required />
		Dischi:
		<input type="number" name="dischi" value="0" required />
		<br>
		Tracce:
		<input type="number" name="tracce" value="0" required />
		<br>
		Etichetta:
		<input type="text" name="etichetta" required />
		<br>
		Stock:
		<input type="number" name="stock" required />
		<br>
		Immagine Album:
		<input type="file" name="album-img" accept="image/x-png,image/gif,image/jpeg" required />
		<br>
		<input id="hidden-date" type="date" name="data_inserimento" hidden />
	</form>
	Descrizione:<textarea style="resize: none;" rows="4" cols="50" name="descrizione" form="album-form" maxlength="1000" required></textarea>
	<br>
	<br>
	<input type="submit" value="Conferma" form="album-form" />
</div>
<form class="back-button"  action="mod_content_management.php">
    <input type="submit" value="Torna alla Gestione Contenuti" />
</form>
<script>
	var myDate = document.getElementById("hidden-date");
	var today = new Date();
	myDate.value = today.toISOString().substr(0, 10);
</script>