	<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Tabella Ordine</h1>
                    </div>
                </div>
            </div>
            
        </div>
		
		<div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
		
				<div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Informazioni</strong>
                        </div>
                        <div class="card-body">
                          <table class="table">
                          <tbody>
                          <tr>
                              <td scope="row">ID Ordine : </td>
                              <td>{$ordine.id_ordine}</td>
                          </tr>
                          <tr>
                              <td scope="row">Cliente : </td>
                              <td>{$ordine.cliente}</td>
                          </tr>
                          <tr>
                              <td scope="row">Album : </td>
                              <td>{$ordine.nome_album}</td>
                          </tr>
						  <tr>
                              <td scope="row">Data : </td>
                              <td>{$ordine.data}</td>
                          </tr>
						  <tr>
                              <td scope="row">Spedizione : </td>
                              <td>{$ordine.tipo_spedizione}</td>
                          </tr>
						  
						</tbody>
						<tbody>
							<tr>
                              <th scope="column">Indirizzo</th>
							</tr>
							<tr>
                              <td scope="row">Nome : </td>
                              <td>{$ordine.nome}</td>
							</tr>
							<tr>
                              <td scope="row">Cognome : </td>
                              <td>{$ordine.cognome}</td>
							</tr>
							<tr>
                              <td scope="row">Paese : </td>
                              <td>{$ordine.paese}</td>
							</tr>
							<tr>
                              <td scope="row">Indirizzo : </td>
                              <td>{$ordine.indirizzo}</td>
							</tr>
							<tr>
                              <td scope="row">Città : </td>
                              <td>{$ordine.citta}</td>
							</tr>
							<tr>
                              <td scope="row">Provincia : </td>
                              <td>{$ordine.provincia}</td>
							</tr>
							<tr>
                              <td scope="row">Cap : </td>
                              <td>{$ordine.cap}</td>
							</tr>
							<tr>
                              <td scope="row">Recapito : </td>
                              <td>{$ordine.recapito}</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
                              <th scope="column">Metodo di Pagamento</th>
							</tr>
							
							<tr>
                              <td scope="row">Numero Carta : </td>
                              <td>{$ordine.numero_carta}</td>
							</tr>
							<tr>
                              <td scope="row">Data di Scadenza : </td>
                              <td>{$ordine.data_scadenza}</td>
							</tr>
							<tr>
                              <td scope="row">Proprietario : </td>
                              <td>{$ordine.cognome_carta} {$ordine.nome_carta}</td>
							</tr>
							
						</tbody>
						
                  </table>
                        </div>
                    </div>
                </div>
				
				<div class="col-md-4">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">Status Ordine</strong>
                            </div>
                            <div class="card-body">
								<div class="row form-group">
									<div class="col col-md-3"><label for="select" class=" form-control-label">Stato : </label></div>
									<div class="col-12 col-md-9">
									  <select name="select" id="select" class="form-control" onchange="change_order_status(this.value)">
									  
										<option value="Inserito" {if $ordine.status === 'Inserito'}selected{/if}>Inserito</option>
										<option value="Spedito" {if $ordine.status === 'Spedito'}selected{/if}>Spedito</option>
										<option value="Consegnato" {if $ordine.status === 'Consegnato'}selected{/if}>Consegnato</option>
										
									  </select>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
					
			</div>
		</div>
	</div>
<script>
	function change_order_status(status){
		var ordine = {$ordine.id_ordine};
		{literal} $.post("mod_order_details.php", { new_status: status, id_ordine: ordine }).done(function(data){location.reload(true);}); {/literal}
		
	}
</script>