        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Gestione Canzoni</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
		
			<div class="card">
                      <div class="card-header">
                        <strong>Inserisci : </strong> Nuova Canzone
                      </div>
                      <div class="card-body card-block">
                        <form id="song-form" action="insert_new_song.php" method="post" enctype="multipart/form-data" class="dropzone, form-horizontal">
						  
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Titolo : </label></div>
                            <div class="col-12 col-md-9"><input type="text" id="new-song-name-input" name="nome_canzone" class="form-control" autocomplete="none" required></div>
                          </div>

						  <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">Album : </label></div>
                            <div class="col-12 col-md-9">
                                  <select name="album-info" id="new-song-album-select" class="js-example-basic-single">
                                      {foreach $album as $item}
                                      <option value="{$item.id_album}">{$item.nome_album}</option>
                                      {/foreach}
                                  </select>
                              </select>
                            </div>
                          </div>
						  
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="file-input" class=" form-control-label">Anteprima Canzone : </label></div>
                            <div class="col-12 col-md-9"><input type="file" id="file-input" name="song-file" class="form-control-file" required></div>
                          </div>
                          
						  <input id="hidden-date" type="date" name="data_inserimento" hidden />
						  
                        </form>
                      </div>
					  
                      <div class="card-footer">
                        <button id="song-submin" type="submit" class="btn btn-primary btn-sm" form="song-form">
                          <i class="fa fa-dot-circle-o"></i> Procedi
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm" onclick="reset_song_form()">
                          <i class="fa fa-ban"></i> Reset
                        </button>
                      </div>
                    </div>

		</div>
           
            <!--/.col-->
		
		<div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Canzoni Inserite</strong>
                        </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Nome <small>(Clicca per modificare)</small></th>
						<th>Artista <small>(Clicca per modificare)</small></th>
						<th>Album <small>(Clicca per modificare)</small></th> 						
                      </tr>
                    </thead>
                    <tbody>
					
						{foreach $canzoni as $canzone}
						  <tr>
							<td><a href="mod_modify_song.php?song_id={$canzone.id_canzone}">{$canzone.nome_canzone}</a></td> <!-- link alla pagina di modifica della canzone -->
							<td><a href="mod_modify_artist.php?artist_id={$canzone.fk_artista}">{$canzone.fk_artista}</a></td> <!-- link alla pagina di modifica dell'artista -->
							<td><a href="mod_modify_album.php?album_id={$canzone.fk_album}">{$canzone.fk_album}</a></td> <!-- link alla pagina di modifica dell'album -->
						  </tr>
						{/foreach}
                      
                    </tbody>
                  </table>
                        </div>
                    </div>
                </div>
				</div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
<script src="../js/dropzone.js"></script>
<script type="text/javascript">
    {literal}
    (function ($) {
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: "Select a customer"
            });
        });
    }(jQuery));

    Dropzone.options.songForm = {
        autoProcessQueue: false,
        paramName: "song-file",
        maxFilesize: 10,
		maxFiles: 1,
        uploadMultiple: false,
        accept: function (file, done) {
            done();
        }
    };
    $("#song-submit").click(function (e) {
        e.preventDefault();
        var myDropzone = Dropzone.forElement(".dropzone");
        myDropzone.processQueue();
        window.location.href = "mod_content_management.php";
    });
	
	function reset_song_form(){
		$("#new-song-name-input").val('');
		//resettare select album
		$("#file-input").val('');
	}



    {/literal}
</script>

