<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Modifica Artista</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
		
			<div class="card">
                      <div class="card-header">
                        <strong>Modifica : </strong> Artista
                      </div>
                      <div class="card-body card-block">
                        <form id="artist-form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
						  
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nome : </label></div>
                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="nome_artista" class="form-control" value="{$nome_artista}" autocomplete="none"></div>
                          </div>
                          
						  <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Album Pubblicati : </label></div>
                            <div class="col-12 col-md-9"><input type="number" id="text-input" name="album_pubblicati" value="{$numero_album}" class="form-control"></div>
                          </div>
						  
						  <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Inizio Attività : </label></div>
                            <div class="col-12 col-md-9"><input type="number" id="text-input" name="inizio_attivita" value="{$inizio_attivita}" class="form-control" min="1900" max="2018"></div>
                          </div>
						  
						  <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Fine Attività : </label></div>
                            <div class="col-12 col-md-9"><input type="number" id="fine-attivita-year" name="fine_attivita" value="{$fine_attivita}" class="form-control" min="1900" max="2018"></div>
							<div class="col col-md-3"></div>
                            <div class="col col-md-9">
							<div class="form-check">
                                <div class="radio">
                                  <label for="radio1" class="form-check-label ">
                                    <input type="checkbox" id="checkbox-in-attivita" name="fine_attivita" value="" class="form-check-input" onclick="checkbox_func()">In Attività
                                  </label>
                                </div
								</div>
								</div>
                            </div>
						  </div>
						  
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Biografia : </label></div>
                            <div class="col-12 col-md-9"><textarea name="biografia" id="textarea-input" rows="4" value="{$biografia}" class="form-control"></textarea></div>
                          </div>
                          
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">Genere : </label></div>
                            <div class="col col-md-9">
                              <div class="form-check">
                                
								{foreach $generi as $genere}
                                <label for="checkbox" class="form-check-label">
									{if ($genere.id_genere == fk_genere)}
									<input type="checkbox" id="checkbox" name="genere" value="{$genere.id_genere}" class="form-check-input" checked>{$genere.genere}
									{else}
									<input type="checkbox" id="checkbox" name="genere" value="{$genere.id_genere}" class="form-check-input">{$genere.genere}
									{/if}
                                </label>
								{/foreach}
								
                              </div>
                            </div>
                          </div>
                          
						  
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="file-input" class=" form-control-label">Immagine Artista : </label></div>
                            <div class="col-12 col-md-9"><input type="file" id="file-input" name="artist-img" value="{$artista_img_path}" class="form-control-file"></div>
                          </div>
                          
                        </form>
                      </div>
					  
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm form" form="artist-form">
                          <i class="fa fa-dot-circle-o"></i> Procedi
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                          <i class="fa fa-ban"></i> Reset
                        </button>
						<button class="btn btn-danger btn-sm">
                          <i class="fa fa-times-circle"></i> Cancella
                        </button>
                      </div>
                    </div>

		</div>