<!DOCTYPE HTML>
<html>
	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>Music Store</title>
			<link href="../css/style.css" rel="stylesheet" type="text/css"  media="all" />
			<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="../css/responsiveslides.css">
	<head>
	<body>
		<div id="permission-denied-container">
			<div id="permission-denied-inner">
				
				<img src="../images/denied_sign.png">
				<h1>FORBIDDEN</h1>
				<br>
				<p>You don't have permission to access!</p>
				
			</div>
		<div>
	</body>
</html>